<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="placeDetails()"><mat-icon>info</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="placeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('name').valid && placeForm.get('name').touched">Please enter Place Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place Desc" formControlName="desc"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('desc').valid && placeForm.get('desc').touched">Please enter Place Description</span>
        </mat-error>
      </mat-form-field>
          <div class="button-row">
        <button type="submit" [disabled]="!placeForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
