<div class="example-container mat-elevation-z8">

  <mat-card class="example-card">
    <form [formGroup]="placeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('name').valid && placeForm.get('name').touched">Please enter Place Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place summary" formControlName="summary"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('summary').valid && placeForm.get('summary').touched">Please enter Place Description</span>
        </mat-error>
      </mat-form-field>

      <!-- areaCode select not full width -->
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select formControlName="areaCode">
          <mat-option *ngFor="let areaCode of countries" [value]="areaCode.code">
            {{areaCode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location Type</mat-label>
        <!-- see https://stackblitz.com/edit/angular-8jce6t?file=src%2Fapp%2Fapp.component.ts -->
        <mat-select placeholder="Location Type *" formControlName="locationType">
          <mat-select-trigger *ngIf="getSelectedLotype() as selectedLotype">
            <mat-icon>{{selectedLotype.icon}}</mat-icon>&nbsp;{{selectedLotype.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.value">
            <mat-icon>{{locationType.icon}}</mat-icon>
            <span>{{locationType.label}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Auth Scope</mat-label>
        <mat-select placeholder="Auth Scope" formControlName="authScope">
          <mat-select-trigger *ngIf="placeForm.get('authScope').value as currentAuthScope">
            <mat-icon>{{currentAuthScope.icon}}</mat-icon>&nbsp;{{currentAuthScope.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let authScope of masterData.getAuthScopes()" [value]="authScope">
            <mat-icon>{{authScope.icon}}</mat-icon> {{authScope.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput formControlName="coordinatesStr"
            placeholder="Coordinates (Lat, Lon)" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Image URL" formControlName="imageUrl" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('imageUrl').valid && placeForm.get('imageUrl').touched">Please enter an URL to an image</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Primary URL" formControlName="primaryUrl" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('primaryUrl').valid && placeForm.get('primaryUrl').touched">Enter an optional but valid primary URL</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Notes" formControlName="notes" [errorStateMatcher]="matcher"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="25"></textarea>
      </mat-form-field>

      <div class="button-row">
        <button *ngIf="authService.canEdit" type="submit" [disabled]="!placeForm.valid" mat-raised-button color="warn">
          <mat-icon>save</mat-icon>Save
        </button>
        &nbsp;
        <a mat-raised-button color="primary" (click)="placeDetails()">
          <mat-icon>info</mat-icon>Details
        </a>
      </div>
    </form>
  </mat-card>
</div>
