// Welcome to the *** Master SCSS Sheet ***
// You can add global styles to this file, and also import other style files */
// Note that additional style files can be defined in angular.json in addition to styles.scss

// Import Angular Theme specific css
// https://material.angular.io/guide/theming: purple-green or pink-blue grey
// CAUTION: @use rules must be written *before* any other rules.
@use '@angular/material' as mat;

// Load the CSS of mapbox-gl, see https://github.com/Wykks/ngx-mapbox-gl
@import '~mapbox-gl/dist/mapbox-gl.css'; // mapbox-gl-geocoder.css not needed?
// Required for  geocoder control for mapbox-gl-js using the Mapbox Geocoding API
// https://www.npmjs.com/package/@mapbox/mapbox-gl-geocoder
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

html, body {
  height: 100%;
  // https://stackoverflow.com/questions/46012482/unwanted-white-space-on-right-side-in-mobile-view
  overflow-x: hidden; // hope it works
  // todo y https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//
// Start of *Angkor App Customizations*, use prefix "app-" to distinguish our custom classes from 3rd party classes
//
div.app-flex {
  // this works cool for centering everything, but causes problem with the map
  // padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // flex-wrap: nowrap;
}

// full-width div, for pages like maps where we need as much available space as possible
div.app-full {
  padding: 10px;
  width: 100%;
}

// Media Queries: Special styles depending on whether our page is displayed on mobile, tablet or widescreen
// See https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
// and https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
//
// * 320px — 480px: Mobile devices
// * 481px — 768px: iPads, Tablets
// * 769px — 1024px: Small screens, laptops
// * 1025px — 1200px: Desktops, large screens
// * 1920 .. the max
//
// Example: Here, the breakpoint is 480px. Now the media query knows when to set or overwrite the new class.
// Basically, if the width of a device is smaller than 480px, the text class will be applied, otherwise, it won’t
// @media (max-width: 480px) { .text {font-size: 16px;}}

@media (min-width: 768px) {
  // make our card bigger on anything larger than a cellphone
  // use https://material.angular.io/guide/elevation mixin
  .app-card {
    margin-top: 5px;
    width: 600px;
  }
}

// https://material.angular.io/guide/elevation doesn't work in main scss , only in component .scss files
// Suggested approach using ":host ::ng-deep" also does not work
// https://stackoverflow.com/questions/56609472/why-can-i-only-set-mat-elevation-settings-at-the-component-level-css
////.app-card {
//  @include mat.elevation(24);
//}


//
// Fine tune material classes
//
.mat-flat-button {
  margin: 5px;
}

// Slightly over-sized paragraph, e.g. place summary below place
span.app-subtitle {
  font-size: 110%;
  font-weight: 500;
}

// less prominent remarks ... does this work ???
div.app-remark, span.app-remark {
  color: gray;
}

// can be used by any component which wants to apply max (full) width
.app-full-width {
  width: 100%;
}

// this seems to .. ensure some margin at the bottom of a table :-)
.app-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}


// this is our standard table class, mostly used in search overviews
table.app-overview-table {
  // min-width: 400px;
  table-layout: fixed;
  width: 100%;
}

.app-overview-table .mat-cell {
  padding: 4px;
}

// icon columns such as area and auth do not need much space
// this should go to the component's css class once we have one
table th.app-icon {
  width: 40px
}

// button rows need some space on top of them
.app-button-row {
  margin: 10px 0;
}

// A common pattern is to position a title on the left with some actions on the right.
// This can be easily accomplished with display: flex:
// https://material.angular.io/components/toolbar/overview#positioning-toolbar-content
.app-middle-spacer {
  flex: 1 1 auto;
}

// Custom Link styles (external): if [target="_blank"] or class=external
// https://endurtech.com/css-icon-for-links-that-open-new-window-for-web-accessibility/
a[target="_blank"], a.external {
  color: inherit; //  causes the element to take on the colour of its parent
  text-decoration: none; // changed from text-decoration:underline
}

a[target="_blank"]::after, a.external::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

a[target="_blank"]:hover, a.external:hover {
  text-decoration: underline; // changed from text:decoration:none
}

// https://stackoverflow.com/a/49658015/4292075 if not aligned here, icons will be above text
.mat-icon {
  vertical-align: middle;
}

// app-details-panel class can be used by dialog panels to avoid redundant width etc. declarations
// https://stackblitz.com/edit/panelclass-issue?file=styles.scss
.app-details-panel .mat-dialog-container {
  /* width: 75%; disabled, at least with the new tour/video/post setup the result is too small */
  max-width: 600px;
}

// Sass variables are simple: https://sass-lang.com/documentation/variables
// They are not the same as CSS Vars, as they are all "compiled away" by Sass.
$reduced-icon-size: 18px;

// suitable for text in table columns. A hack??? if not it's like 200%
// only for icons behind URLs ...
// DEPRECATED - USE <mat-icon inline="true" instead REFACTOR
mat-icon.app-small {
  font-size: 100%;
  height: $reduced-icon-size;
  width: $reduced-icon-size;
}

// todo verify where to use
mat-icon.app-medium {
  font-size: 120%;
  height: $reduced-icon-size; // default 24px
  width: $reduced-icon-size; // default 24px
}

