# Global Ignores, see module folders /api, /ui etc. for language specific ignores

# IntelliJ
.idea
*.iml

# no keys and secrets under source control
*.pem
*.pem.pub
.secret/

# .env file for docker-compose
.env

# other stuff that should not be versioned
.DS_Store
nohup.out
tmp

# till secific :-)
tk
tmp
.scannerwork/
node_modules/
