# Ignore Gradle project-specific cache directory and wrappers
.gradle
gradlew
gradlew.bat
/gradle

# Ignore Gradle build output directory
build
.idea
*.iml

# no keys pls
*.pem
*.pem.pub
.secret/

# .env file for docker-compose
.env

# other stuff that should not be versioned
.DS_Store

