<div class="app-flex">
  <ng-container *ngIf="authService.isAuthenticated$ | async as authenticated; else unauthenticated">
    <h3 *ngIf="authService.currentUser$ | async as currentUser">
      ⛺ Welcome to {{env.releaseName | titlecase}}, {{currentUser.name}}!
    </h3>
  </ng-container>
  <ng-template #unauthenticated>
    <h3>
      ⛺ {{route.snapshot.url == 'logout' ? 'Goodbye' : 'Welcome'}}, TiMaFe Guest!
    </h3>
  </ng-template>

  <div class="applink">

    <mat-card class="applink mat-elevation-z{{env.matElevation}}">
      <mat-card-subtitle>Places 2 Go</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/places']"><img src="assets/backpack.svg" alt="backpack"/></a>&nbsp;
        <app-count-up [digit]="placesCount" [duration]="countUpConfig.duration"
                      [width]="countUpConfig.width" [height]="countUpConfig.height"
                      [borderRadius]="countUpConfig.borderRadius"
                      [fontSize]="countUpConfig.fontSize" [padding]="countUpConfig.padding">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="applink mat-elevation-z{{env.matElevation}}">
      <mat-card-subtitle>WorlWideMap</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/map']"><img src="assets/world.svg" alt="world"/></a>
        <app-count-up [digit]="poisCount" [duration]="countUpConfig.duration"
                      [width]="countUpConfig.width" [height]="countUpConfig.height"
                      [borderRadius]="countUpConfig.borderRadius"
                      [fontSize]="countUpConfig.fontSize" [padding]="countUpConfig.padding">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="applink mat-elevation-z{{env.matElevation}}">
      <mat-card-subtitle>Wish a Dish</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/dishes']"><img src="assets/chilis.svg" alt="chilis"/></a>
        <app-count-up [digit]="dishesCount" [duration]="countUpConfig.duration"
                      [width]="countUpConfig.width" [height]="countUpConfig.height"
                      [borderRadius]="countUpConfig.borderRadius"
                      [fontSize]="countUpConfig.fontSize" [padding]="countUpConfig.padding">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="applink mat-elevation-z{{env.matElevation}}">
      <mat-card-subtitle>MerksteWas?</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/notes']"><img src="assets/notebook.svg" alt="note" /></a>
        <app-count-up [digit]="notesCount" [duration]="countUpConfig.duration"
                      [width]="countUpConfig.width" [height]="countUpConfig.height"
                      [borderRadius]="countUpConfig.borderRadius"
                      [fontSize]="countUpConfig.fontSize" [padding]="countUpConfig.padding">
        </app-count-up>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="footer" #footer>
    <span class="smaller">🦄 2021 TiMaFe on Code
      · {{env.appVersion}} "{{ env.releaseName | titlecase }}"
      · Angular {{env.angularVersion}}
      · Running for {{env.uiStarted | dfnsFormatDistanceToNow}}
    </span>
  </div>

</div>
