<div class="app-flex">
  <ng-container *ngIf="! (authService.isAuthenticated$ | async)">
    <h3>
      🏠 Welcome Home, TiMaFe Guest!
    </h3>
  </ng-container>

  <h3 *ngIf="authService.currentUser$ | async as currentUser">
    🏠 Welcome back, {{currentUser.name}}!
  </h3>

  <div class="applink">

    <mat-card class="applink">
      <mat-card-content>
        <a [routerLink]="['/places']"><img src="assets/backpack.svg"/></a>&nbsp;
      </mat-card-content>
      <mat-card-subtitle>Places 2 Go</mat-card-subtitle>
    </mat-card>

    <mat-card class="applink">
      <mat-card-content>
        <a [routerLink]="['/map']"><img src="assets/world.svg"/></a>&nbsp;
      </mat-card-content>
      <mat-card-subtitle>WorlWideMap</mat-card-subtitle>
    </mat-card>

    <mat-card class="applink">
      <mat-card-content>
        <a [routerLink]="['/dishes']"><img src="assets/chili.svg"/></a>
      </mat-card-content>
      <mat-card-subtitle>Wish a Dish</mat-card-subtitle>
    </mat-card>

    <mat-card class="applink">
      <mat-card-content>
        <a [routerLink]="['/notes']"><img src="assets/note.svg"/></a>
      </mat-card-content>
      <mat-card-subtitle>MerksteWas?</mat-card-subtitle>
    </mat-card>

  </div>
</div>
