mat-card.applink {
  margin: 5px;
  float: left;
  width: 80px;
}

mat-card.applink img {
  height: 76px;
}

.mat-card.applink:hover {
  background-color: #D8D8D8;
}

h3 {
  margin-left: 20px
}

//div.home {
//  min-height: 400px;
//  background: url('/assets/home-pano.jpg') no-repeat;
//}
