<div style="text-align:center" >
  <mat-icon style="height: 150px; transform: scale(4);" svgIcon="backpack"></mat-icon>

  <ng-container  *ngIf="! (authService.isAuthenticated() | async)">

    <h3>Welcome Home, TiMaFe Guest!</h3>

    <button mat-raised-button color="primary" (click)="login()">
      <mat-icon>login_box</mat-icon> OAuth2 Login
    </button>

  </ng-container>
  <h3 *ngIf="authService.currentUser">
    <mat-icon>{{masterData.lookupAuthscope('ALL_AUTH').icon}}</mat-icon>
    Welcome back, {{authService.currentUser.name}}!
  </h3>

  <!--
  <button mat-raised-button color="primary" (click)="getAccount()">
    <mat-icon>account_box</mat-icon> Check Account
  </button>
  -->
  <!--
  <ul class="nav nav-pills">
    <li><a (click)="login()"><mat-icon>login</mat-icon>Sign in with OAuth2 (experimental)</a></li>
    <li><a (click)="logout()"><mat-icon>logout</mat-icon>Logout (even more experimental)</a></li>
  </ul>
  -->

</div>
