<div class="app-flex">

  <mat-card class="app-card">

    <h3><mat-icon matListIcon svgIcon="settings"></mat-icon>Admin Corner</h3>

    <h4>Actions</h4>
    <div id="actions">
      <a [routerLink]="" (click)="triggerAction('IMPORT_PHOTOS')" class="external">
        →	Trigger Import Photos
      </a><br /><br />
      <a [routerLink]="" (click)="triggerAction('IMPORT_TOURS')" class="external">
        →	Trigger Import Tours
      </a>
    </div>


    <h4>Configuration</h4>
    <table *ngIf="data" [dataSource]="data" aria-label="App Config" mat-table>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell scope="col"> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell scope="col"> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th *matHeaderCellDef mat-header-cell scope="col"> Value</th>
        <td *matCellDef="let element" mat-cell> {{element.value}} {{element.baseUnit}} </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

  </mat-card>

</div>
