<div class="app-container mat-elevation-z4">

  <div>
    <button *ngIf="authService.canEdit" [routerLink]="['/place-add']" color="primary" mat-mini-fab
            title="Add new place">
      <mat-icon>add</mat-icon>
    </button>&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Discover hidden places</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <input (keyup)="keyUp$.next($event.target.value)" [(ngModel)]="search" matInput>
      <button (click)="clearSearch()" *ngIf="search" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </div>

  <table [dataSource]="items" class="app-overview-table" mat-table
         matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Country / Area -->
    <ng-container matColumnDef="areaCode">
      <th *matHeaderCellDef mat-header-cell>Country</th>
      <!--class="flag-icon-background flag-icon-{{row.areaCode}}" -->
      <td *matCellDef="let row" mat-cell>
        <app-area-display [areaCode]="row.areaCode" size="big"></app-area-display>
      </td>
    </ng-container>
    <!---->

    <!-- Name Column with Tags -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Place</th>
      <td *matCellDef="let row" mat-cell>
        <span class="app-subtitle">{{row.name}}</span>
        <ng-container *ngFor="let tag of row.tags">
          <span [ngClass]="getChipClass(tag)">{{tag}}</span>
        </ng-container>
        <br/>
        <span>{{row.summary}}</span>
      </td>
    </ng-container>

    <!-- Location Type -->
    <ng-container matColumnDef="locationType">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let row" mat-cell>
        <mat-icon [title]="getSelectedLotype(row)?.label">{{getSelectedLotype(row)?.icon}}</mat-icon>
      </td>
    </ng-container>

    <!-- Coordinates -->
    <ng-container matColumnDef="coordinates">
      <th *matHeaderCellDef mat-header-cell>Geolink</th>
      <td *matCellDef="let row" mat-cell>
        <a href="{{getGoogleLink(row)}}" mat-icon-button target="_map" title="Open Map">
          <mat-icon>location_on</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/place-details/', row.id]" mat-row></tr>
  </table>

  <span *ngIf="items" class="subtitle">{{items.length}} Places we'd love to visit 🏝️</span>

</div>

<ng-template #loading>
  <div>Loading ❤️ly Places</div>
</ng-template>
