<div class="app-flex">

  <!--  mat-elevation-z2 mat-elevation-z{{env.matElevation}} -->
  <mat-card class="app-card">

    <div>
      <button *ngIf="authService.canEdit" [routerLink]="['/places/add']" color="primary" mat-mini-fab
              title="Add new place">
        <mat-icon>add</mat-icon>
      </button>&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Discover hidden places</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input (keyup)="keyUp$.next($event.target.value)" [(ngModel)]="searchRequest.query" matInput>
        <button (click)="clearSearch()" *ngIf="searchRequest.query" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- advanced search, should be separate component -->
      &nbsp;<!--<mat-checkbox [(ngModel)]="toggleShowHide" ngDefaultControl>-->
      <button (click)="toggleShowHide = ! toggleShowHide"  mat-icon-button  aria-label="Toggle Advanced Search">
         <mat-icon >manage_search</mat-icon>
      </button>

      <div [style.display]="toggleShowHide? 'block' : 'none'"> <!-- visibility hidden still takes space -->
        <mat-form-field appearance="fill" style="width: 150px">
          <mat-label>Sort by</mat-label>
          <mat-select (selectionChange)="runSearch()" [(ngModel)]="searchRequest.primarySortProperty" ngDefaultControl>
            <mat-option *ngFor="let sortProperty of sortProperties" [value]="sortProperty.value">
              {{sortProperty.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 80px">
          <mat-label>Direct.</mat-label>
          <mat-select (selectionChange)="runSearch()" [(ngModel)]="searchRequest.sortDirection" ngDefaultControl>
            <mat-option *ngFor="let sortDirection of searchRequest.sortDirections()" [value]="sortDirection.value">
              {{sortDirection.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 60px">
          <mat-label>Maxres</mat-label>
          <input (change)="runSearch()" [(ngModel)]="searchRequest.pageSize" matInput ngDefaultControl required>
        </mat-form-field>
      </div>

    </div>

    <!-- overview table -->
    <table [dataSource]="items" class="app-overview-table" aria-label="Nice Places" mat-table>
      <!-- Country / Area -->
      <ng-container matColumnDef="areaCode">
        <th *matHeaderCellDef class="app-icon" mat-header-cell scope="col">Area</th>
        <td *matCellDef="let row" mat-cell>
          <app-area-display [areaCode]="row.areaCode" size="big"></app-area-display>
        </td>
      </ng-container>
      <!---->

      <!-- Name Column with Tags -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell scope="col">Place</th>
        <td *matCellDef="let row" mat-cell>
          <span class="app-subtitle">
            {{row.name}}
          </span>
          <ng-container *ngFor="let tag of row.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
          <br/>
          <mat-icon [title]="getLocationType(row)?.label" inline="true">
            {{getLocationType(row)?.icon}}
          </mat-icon>
          <span>{{row.summary}}</span>
          <a *ngIf="row.primaryUrl" [href]="row.primaryUrl" target="_blank" title="Open {{row.primaryUrl}}"></a>
          ·
          <mat-icon inline="true" title="Authscope">{{masterData.getAuthScope(row.authScope)?.icon}}</mat-icon>
        </td>
      </ng-container>

      <!-- header and rows -->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/places/details/', row.id]" mat-row></tr>
    </table>

    <span *ngIf="items" class="app-remark">{{items.length}} Places we'd love to visit 🏝️</span>

    <ng-template #loading>
      <div class="app-remark">Loading ❤️ly Places</div>
    </ng-template>

  </mat-card>
</div>
