<div class="app-flex">

  <mat-card class="app-card" style="max-width: 90%">

    <div>
      <mat-button-toggle-group appearance="legacy" multiple="false" style="background-color: white">
        <!-- legacy appearance takes less space but does not look so nice -->
        <!-- old [checked]="(idx === 0)" -->
        <mat-button-toggle *ngFor="let entry of entityTypes;let idx = index"
                           (change)="onEntityTypesChange(entry)"
                           [value]="entry.id" [checked]="(entry.id === entityType)" >
          <mat-icon [svgIcon]="entry.icon"></mat-icon>&nbsp;{{entry.namePlural}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div><br />

    <mat-form-field appearance="outline">
      <mat-label>Discover locations</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <!-- Silence "Unresolved variable value" false positive error with $any() cast based on
          https://angular.io/guide/template-expression-operators#any-type-cast-function -->
      <input (keyup)="keyUp$.next($any($event.target).value)" [(ngModel)]="store.searchRequest.query" matInput>
      <button (click)="store.clearSearch()" *ngIf="store.searchRequest.query" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Icon Menu with icons based on https://material.angular.io/components/menu/examples -->
    <button [matMenuTriggerFor]="menu" aria-label="Options" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="runSearch()" mat-menu-item>
        <mat-icon>autorenew</mat-icon>
        <span>Refresh List</span>
      </button>
      <a [queryParams]="{from: 'tours'}" [routerLink]="['/map/']" mat-menu-item>
        <mat-icon>hiking</mat-icon>
        <span>Tours on Map</span>
      </a>
    </mat-menu>

    <!-- Result List -->
    <mat-list *ngIf="items">

      <h3 mat-subheader>
        Found {{items.length}} exciting locations to remember
      </h3>

      <!-- list of matches -->
      <mat-list-item *ngFor="let item of items; index as rowIndex; last as last">
        <!--<mat-icon mat-list-icon>new</mat-icon>-->
        <!-- https://material.angular.io/components/list/overview#lists-with-avatars -->
        <img matListAvatar alt="preview" [src]="previewImageUrl(item)" />

        <!-- main title with details -->
        <h3 mat-line>
          <app-area-display *ngIf="item.areaCode" [areaCode]="item.areaCode" displaySize="md"></app-area-display>
          <!--<mat-icon [svgIcon]="item.entityType.toLowerCase()"></mat-icon>-->
          <!-- if router link is supported, link headline with it an stay within the app. we use external only styling -->
          <a [routerLink]="" (click)="openDetailsDialog(item,rowIndex)" class="external" >
            {{item.name}}
          </a>
        </h3>

        <!-- tags -->
        <p mat-line>
          <ng-container *ngFor="let tag of item.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
        </p>
        <!-- links and icons -->
        <!-- mat-line is important, or p is appended -->
        <p mat-line>
          <mat-icon inline="true" title="{{masterData.getAuthScope(item.authScope)?.label}} Access">
            {{masterData.getAuthScope(item.authScope)?.icon}}
          </mat-icon>
         <!-- <mat-icon inline="true" title="Rating">star</mat-icon>{{item.rating}} -->
          {{item.entityType | titlecase}}
          · Added {{item.createdAt | dfnsFormatDistanceToNow: {addSuffix: true} }}
          <!--. Updated {{item.updatedAt | dfnsFormatDistanceToNow: {addSuffix: true} }} -->
          · <a [href]="item.primaryUrl" target="_{{item.entityType}}" class="external">External Link
            <!--   <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>-->
          </a>

        </p>

        <!--  *ngIf="authService.canEdit" -->
        <mat-action-list>
          <!--<button mat-list-item (click)="openDetailsDialog(item)" >👍</button>
          *ngIf="item.entityType === 'VIDEO'" -->
          <button *ngIf="routerLink(item)" [routerLink]="routerLink(item)" mat-mini-fab aria-label="Play">
            <mat-icon>play_circle_outline</mat-icon>
          </button>

        </mat-action-list>

        <!-- divide is there are more items to come  -->
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>

      </mat-list-item>

    </mat-list>

  </mat-card>

</div>
