/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

/* TK Customizations */
/* Note that styles may be also defined in angular.json in addition to styles.scss */
// https://material.angular.io/guide/theming
// purple-green or pink-bluegrey
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// https://github.com/Wykks/ngx-mapbox-gl
@import '~mapbox-gl/dist/mapbox-gl.css';
// @import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css'; // needed?

// https://github.com/lipis/flag-icon-css
// we use direclty from "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
// @import '~flag-icon-css/css/flag-icon.min.css';


/* custom angkor app classes go here
 * pls use app- prefix where possible
 */

div.app-flex {
  // this works cool for centering everything, but causes problem with the map
  // padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // flex-wrap: nowrap;

}

div.app-full {
  // for maps etc where we need all available space
  padding: 10px;
  width: 100%;
}


// Media Queries ?? https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
// https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1920 .. the max
// Here, the breakpoint is 480px. Now the media query knows when to set or overwrite the new class.
//&& Basically, if the width of a device is smaller than 480px, the text class will be applied, otherwise, it won’t
//@media (max-width: 480px) { .text {font-size: 16px;}}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
  // make our card bigger on anything larger than a cellphone
  .app-card {
    margin-top: 5px;
    width: 600px;
  }
}

/* Fine tune mat classes */
.mat-flat-button {
  margin: 5px;
}

// E.g. place summary below place
span.app-subtitle {
  font-size: 110%;
  font-weight: 500;
}

// less prominent remarks ... does not work ???
div.app-remark, span.app-remark {
  color: gray;
}

// can be used by any componet which likes to use full width
.app-full-width {
  width: 100%;
}

// this seems to .. ensure some margin at the bottom of a table :-)
.app-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}


// this is our standard table class, mostly used in search overviews
table.app-overview-table {
  // min-width: 400px;
  table-layout: fixed;
  width: 100%;
}

.app-overview-table .mat-cell {
  padding: 4px;
}

// icon columns such as area and auth do not need much space
// this should go to the component's css class once we have one
table th.app-icon {
  width: 40px
}


// button rows need some space on top
.app-button-row {
  margin: 10px 0;
}

// nice external link? for [target="_blank"] or  links with class external?
// https://endurtech.com/css-icon-for-links-that-open-new-window-for-web-accessibility/
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

// suitable for text in table columns
// hack??? if not it's like 200%
// only for icons behind URLs ...
mat-icon.app-small {
  font-size: 100%;
  height: 18px;
  width: 18px;
}

// todo verify where to use
mat-icon.app-medium {
  font-size: 120%;
  height: 18px; // default 24px
  width: 18px; // default 24px
}
