/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* TK Customizations */
/* Note that styles may be also defined in angular.json in addition to styles.scss */
// https://material.angular.io/guide/theming
// purple-green or pink-bluegrey
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// https://github.com/Wykks/ngx-mapbox-gl
@import '~mapbox-gl/dist/mapbox-gl.css';
// @import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css'; // needed?

// https://github.com/lipis/flag-icon-css
// we use direclty from "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
// @import '~flag-icon-css/css/flag-icon.min.css';

/* Fine tune mat classes */
.mat-flat-button {
  margin: 5px;
}

/* custom angkor pls use app- prefix where possible */
span.app-subtitle { font-size: 110%; font-weight: 500 }

// From example-full-width :-)
.app-full-width {  width: 100%;}

.app-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

// from example-container
.app-container {
  position: relative;
  padding: 5px;
}

.app-card {
  max-width: 500px;
}

table.app-overview-table {
  min-width: 400px;
}

.app-overview-table .mat-cell {
  padding: 4px;
}

.app-button-row {
  margin: 10px 0;
}

// nice external link? for [target="_blank"] or  links with class external?
// https://endurtech.com/css-icon-for-links-that-open-new-window-for-web-accessibility/
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

div.app-flex {
  // this works cool for centering everything, but causes problem with the map
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.app-full {
  // this works cool for centering everything, but causes problem with the map
  padding: 10px;
  width: 100%;
}
