<div class="app-container mat-elevation-z4">
  <!--
  <div *ngFor="let item of config | keyvalue">
    <label>{{item.key}}</label>: {{item.value}}
  </div>
  <br />
  -->
  <h3>🦍 Admin Corner</h3>
  <table *ngIf="data" [dataSource]="data" class="mat-elevation-z4" mat-table>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell> Description</th>
      <td *matCellDef="let element" mat-cell> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th *matHeaderCellDef mat-header-cell> Value</th>
      <td *matCellDef="let element" mat-cell> {{element.value}} {{element.baseUnit}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
</div>
