<div [formGroup]="parentForm">
  <mat-form-field class="app-full-width">
    <mat-chip-list #chipList>

      <mat-chip
        (removed)="removeTag(i)"
        *ngFor="let tag of parentForm.get(parentFormTagsControlName).value; let i = index;"
        [removable]="removable"
        [selectable]="selectable"
        color="accent">
        {{tag}}
        <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input
        #tagInput
        (matChipInputTokenEnd)="tagAddedDirectly($event)"
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="addOnBlur"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        matInput
        placeholder="Add Tags ..."
      />

    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelectedFromAutoComplete($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>
