<div [formGroup]="parentForm">
  <mat-form-field class="app-full-width">
    <mat-chip-list #chipList>

      <mat-chip
        *ngFor="let tag of parentForm.get(parentFormTagsControlName).value; let i = index;"
        (removed)="removeTag(i)"
        [removable]="removable"
        [selectable]="selectable"
        color="accent">
        {{tag}}
        <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
      </mat-chip>

      <!-- https://material.angular.io/components/chips/examples -->
      <input
        placeholder="Add Tags ..."
        #tagInput
        matInput
        [formControl]="tagInputCtl"
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="addOnBlur"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)"
      >

    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>
