<div class="app-flex">
  <mat-card class="app-card">
  <h3>HowTo Request Removal of User Data</h3>
    <ul>
      <li>Login to the application (login Icon in the top right corner)</li>
      <li>Navigate to my-profile ("/my-profile" or click on the user icon in the top left corner) </li>
      <li>Click the Button "Request User Data Removal" and confirm the action with "Yes"</li>
      <li>The Admin team will be notified about your request immediately and remove / anonymize your data in the system</li>
      <li>You will receive a confirmation of the deletion request by Mail</li>
    </ul>
  </mat-card>
</div>
