// This class is included by various component *.ts files for shared css code
// which doesn't work in the global style.scss sheet due to View Encapsulation
// To avoid duplicated code in scss files, we simply use additional URL in the @Component Annotation
// Example (HomeComponent):
// @Component({
//   styleUrls: ['./home.component.scss', '../shared/components/common.component.scss']
//   ...
// })
//
// Example code that should work but doesn't: https://material.angular.io/guide/elevation, related discussion:
// https://stackoverflow.com/questions/56609472/why-can-i-only-set-mat-elevation-settings-at-the-component-level-css
//
// Alternative: turn of encapsulation: ViewEncapsulation.None ( https://stackoverflow.com/a/56978906/4292075)
@use '@angular/material' as mat;
// Problem after update to 17.x: Can't find stylesheet to import.
// Solution (?) Simple remove import, see  https://stackoverflow.com/questions/67652012/sasserror-cant-find-stylesheet-to-import-use-angular-material-as-mat
// @import 'node_modules/@angular/material/theming';
// @import 'node_modules/@angular/material/legacy-core/theming';

.app-card {
  @include mat.elevation(18);
}

// Card images should not exceed 400px
img.mat-card-image {
  max-height: 400px;
}

// make sure your component .ts used encapsulation: ViewEncapsulation.None or this won't work
// https://stackoverflow.com/a/56978906/4292075  (origin value is 16px padding)

// ATTENTION: This also influences the menu on the lef hand side (no padding)
// SO We disable it for the time being, even though the list items now occopy more space e.g. in notes overview

//.mat-list-base .mat-list-item .mat-list-item-content {
//  padding: 0px !important
//}
