<!-- Tutorial: https://blog.angular-university.io/angular-material-dialog/ -->
<h3 mat-dialog-title>
  <mat-icon>sticky_note_2</mat-icon>
  MerksteWas? Details
  <mat-slide-toggle (change)="isReadonly =! isReadonly" *ngIf="authService.canEdit" [checked]="! isReadonly">
    <span style="font-size:70%">Edit</span>
  </mat-slide-toggle>
</h3>

<form (ngSubmit)="saveItem()" [formGroup]="formData">
  <div mat-dialog-content>

    <mat-form-field class="app-full-width">
      <mat-label>Note Summary</mat-label>
      <!-- (blur)="parseLinks($event)" -->
      <textarea #autosize="cdkTextareaAutosize" formControlName="summary"
                [errorStateMatcher]="matcher"
                [readonly]="isReadonly" cdkAutosizeMaxRows="5"
                cdkAutosizeMinRows="1" cdkTextareaAutosize
                matInput
                placeholder="Note Summary"></textarea>
    </mat-form-field>

    <!-- url -->
    <mat-form-field class="app-full-width">
      <input formControlName="primaryUrl" [readonly]="isReadonly" matInput placeholder="Primary URL">
      <a *ngIf="data.primaryUrl" [href]="data.primaryUrl" matSuffix target="_note" title="Open {{data.primaryUrl}}">
        <mat-icon>link</mat-icon>
      </a>
    </mat-form-field>

    <!-- Due Date -->
    <mat-form-field>
      <!--<mat-label>Choose a date</mat-label>-->
      <input formControlName="dueDate" [readonly]="isReadonly"
             [matDatepicker]="picker" matInput placeholder="Due Date">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>&nbsp;
    <!-- debug values (temporary) -->
    <br/>

    <!-- Note Status -->
    <mat-form-field>
      <mat-label>Status</mat-label> <!--  formControlName="authScope" [disabled]="isReadonly"  -->
      <mat-select formControlName="status" placeholder="Status">
        <mat-select-trigger *ngIf="getSelectedNoteStatus() as selectedNoteStatus">
          <mat-icon>{{selectedNoteStatus.icon}}</mat-icon>&nbsp;{{selectedNoteStatus.label}}
        </mat-select-trigger>
        <mat-option *ngFor="let status of noteStates" [value]="status.value">
          <mat-icon>{{status.icon}}</mat-icon>
          <span>{{status.label}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Authscope -->
    <mat-form-field>
      <mat-label>Auth Scope</mat-label> <!--  formControlName="authScope" [disabled]="isReadonly"  -->
      <mat-select formControlName="authScope" placeholder="Auth Scope *">
        <mat-select-trigger *ngIf="getSelectedAuthScope() as selectedAuthScope">
          <mat-icon>{{selectedAuthScope.icon}}</mat-icon>&nbsp;{{selectedAuthScope.label}}
        </mat-select-trigger>
        <mat-option *ngFor="let authScope of authScopes" [value]="authScope.value">
          <mat-icon>{{authScope.icon}}</mat-icon>
          <span>{{authScope.label}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- guten tag -->
    <app-tag-input [parentForm]="formData"
                   entityType="Note">
    </app-tag-input>

    <pre *ngIf="isDebug">{{data|json}}</pre>


  </div>

  <div class="app-button-row">
    <!--
    <button [mat-dialog-close]="data" cdkFocusInitial color="primary" mat-raised-button >Submit</button>
    <button (click)="onNoClick()" mat-raised-button>No Thanks</button> color="primary"
    -->
    <button (click)="closeItem()" color="primary" mat-flat-button type="button">
      <mat-icon>undo</mat-icon>
      Back
    </button>&nbsp;
    <button type="submit" *ngIf="authService.canEdit && ! isReadonly" color="primary" mat-flat-button>
      <mat-icon>save</mat-icon>
      Save
    </button>&nbsp;
    <button (click)="deleteItem()" *ngIf="authService.canDelete && ! isReadonly" color="warn" mat-flat-button type="button">
      <mat-icon>delete_forever</mat-icon>
      Trash
    </button>
    <input (change)="isDebug =! isDebug" [checked]=false type="checkbox"> Debug

  </div>
</form>
