<div class="app-container mat-elevation-z4">

  <div>
    <button mat-mini-fab color="primary" [routerLink]="['/dish-add']" title="Add new dish">
      <mat-icon>add</mat-icon>
    </button>&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Discover Lovely Dishes</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <input matInput (keyup)="keyUp$.next($event.target.value)" [(ngModel)]="search">
      <button mat-button mat-icon-button matSuffix (click)="clearSearch()" *ngIf="search">
        <mat-icon>close</mat-icon>
      </button>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="data" class="app-overview-table"
         matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

    <!-- Country / Area -->
    <ng-container matColumnDef="areaCode">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <!--class="flag-icon-background flag-icon-{{row.areaCode}}" -->
      <td mat-cell *matCellDef="let row">
        <app-area-display [areaCode]="row.areaCode" size="big"></app-area-display>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Dish</th>
      <td mat-cell *matCellDef="let row">
        <span class="app-subtitle">{{row.name}}</span>
        <ng-container *ngFor="let tag of row.tags">
          <span [ngClass]="getChipClass(tag)" >{{tag}}</span>
        </ng-container>
        <br/>
        <span>{{row.summary}}</span>
        Updated: {{row.updatedAt | amTimeAgo }}
      </td>
    </ng-container>

    <!-- authScope -->
    <ng-container matColumnDef="authScope">
      <th mat-header-cell *matHeaderCellDef>Auth</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon>{{masterData.getAuthScope(row.authScope).icon}}</mat-icon>
        {{row.authenticName}}</td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Recipe</th>
      <td mat-cell *matCellDef="let row">
    <a href="{{row.primaryUrl}}" title="Open external recipe" target="_dish" mat-icon-button>
      <mat-icon>link</mat-icon>
    </a>
      </td>
    </ng-container>
    <!-- header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- [routerLink]="['/dish-details/' , row.id]" -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/dish-details/', row.id]"></tr>
  </table>

  <span *ngIf="data && data.length > 0" class="subtitle">Found {{data.length}} Dishes we'd love to eat soon 🍲️</span>

</div>
