<div class="app-flex">

  <mat-card class="app-card">

    <div>
      <button *ngIf="authService.canEdit" [routerLink]="['/dishes/add']" color="primary" mat-mini-fab
              title="Add new dish">
        <mat-icon>add</mat-icon>
      </button>&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Discover Lovely Dishes</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input (keyup)="keyUp$.next($event.target.value)" [(ngModel)]="searchRequest.query" matInput>
        <button (click)="clearSearch()" *ngIf="searchRequest.query" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- advanced search, should be separate component -->
      &nbsp;<mat-checkbox [(ngModel)]="toggleShowHide" ngDefaultControl>
      <mat-icon inline="true">manage_search</mat-icon>
    </mat-checkbox>

      <div [style.display]="toggleShowHide? 'block' : 'none'"> <!-- visibility hidden still takes space -->
        <mat-form-field appearance="fill" style="width: 150px">
          <mat-label>Sort by</mat-label>
          <mat-select (selectionChange)="runSearch()" [(ngModel)]="searchRequest.primarySortProperty" ngDefaultControl>
            <mat-option *ngFor="let sortProperty of sortProperties" [value]="sortProperty.value">
              {{sortProperty.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 80px">
          <mat-label>Direct.</mat-label>
          <mat-select (selectionChange)="runSearch()" [(ngModel)]="searchRequest.sortDirection" ngDefaultControl>
            <mat-option *ngFor="let sortDirection of searchRequest.sortDirections()" [value]="sortDirection.value">
              {{sortDirection.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 60px">
          <mat-label>Maxres</mat-label>
          <input (change)="runSearch()" [(ngModel)]="searchRequest.pageSize" matInput ngDefaultControl required>
        </mat-form-field>
      </div>

    </div>

    <table [dataSource]="items" class="app-overview-table" mat-table
           matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
      <caption>Dish Overview</caption>
      <!-- Country / Area -->
      <ng-container matColumnDef="areaCode">
        <th *matHeaderCellDef class="app-icon" mat-header-cell scope="col">From</th>
        <td *matCellDef="let row" mat-cell>
          <app-area-display [areaCode]="row.areaCode" size="big"></app-area-display>
        </td>
      </ng-container>

      <!-- Name Column with Tags -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell scope="col">Dish</th>
        <td *matCellDef="let row" mat-cell>
          <span class="app-subtitle">{{row.name}}</span>
          <ng-container *ngFor="let tag of row.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
          <br/>
          <span>{{row.summary}}</span>&nbsp;

          <mat-icon inline="true">{{masterData.getAuthScope(row.authScope)?.icon}}</mat-icon>
          ·
          <ng-container *ngIf="row.rating">
            <mat-icon inline="true">grade</mat-icon>
            {{row.rating}} Stars ·
          </ng-container>

          <mat-icon inline="true">schedule</mat-icon>
          {{row.updatedAt | dfnsFormatDistanceToNow }} ago
        </td>
      </ng-container>

      <!-- header -->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/dishes/details/', row.id]" mat-row></tr>
    </table>

    <span *ngIf="items && items.length > 0" class="subtitle">Found {{items.length}}
      Dishes we'd love to eat soon 🍲️</span>

  </mat-card>

</div>
