/* https://code-maze.com/angular-material-navigation/ */

// Angkor background, but only for larger displays (on mobile we keep it white)
@media (min-width: 1025px) {
  .app-background {
    background: no-repeat url(/assets/angkor.jpg);
    background-color: black;
    // place below top menu https://stackoverflow.com/questions/9743717/background-position-margin-top
    background-position: right 64px;
  }
}

span.smaller {
  font-size: 75%;
}

// From: ng generate @angular/material:material-nav --name=nav
.sidenav-container {
  height: 100%;
}

// width of the menu. 200px ought to be enough for worldwidemap :-)
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.title {
  text-decoration: none;
  color: white
}

