<!-- loosely based on ng generate @angular/material:material-nav --name=nav -->
<!-- this is the full width part below the top menu -->
<mat-sidenav-container class="sidenav-container">

  <!-- left menu, can fly in  fixedTopGap set to 56 -->
  <!-- CHECK https://stackoverflow.com/questions/53512602/closing-side-nav-on-clicking-router-link-for-small-devices
       https://stackblitz.com/edit/angular-close-side-nav-on-button-click?file=app%2Fsidenav-responsive-example.html -->
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>

    <mat-toolbar>🥣 Today's Menu</mat-toolbar>
    <mat-divider></mat-divider>

    <!-- Start Menu -->
    <mat-nav-list>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/home']" mat-list-item>
        <mat-icon matListIcon svgIcon="home"></mat-icon>
        HomeZone</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/map']" mat-list-item>
        <mat-icon matListIcon svgIcon="map"></mat-icon>
        WorldWideMap</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/places']" mat-list-item>
        <mat-icon matListIcon svgIcon="place"></mat-icon>
        {{entityMetaData['Place'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/dishes']" mat-list-item>
        <mat-icon matListIcon svgIcon="dish"></mat-icon>
        {{entityMetaData['Dish'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/notes']" mat-list-item>
        <mat-icon matListIcon svgIcon="note"></mat-icon>
        {{entityMetaData['Note'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/videos']" mat-list-item>
        <mat-icon matListIcon svgIcon="video"></mat-icon>
        {{entityMetaData['Video'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/photos']" mat-list-item>
        <mat-icon matListIcon svgIcon="photo"></mat-icon>
        {{entityMetaData['Photo'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/tours']" mat-list-item>
        <mat-icon matListIcon svgIcon="tour"></mat-icon>
        {{entityMetaData['Tour'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/posts']" mat-list-item>
        <mat-icon matListIcon svgIcon="post"></mat-icon>
        {{entityMetaData['Post'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/songs']" *ngIf="authService.canEdit" mat-list-item>
        <mat-icon matListIcon svgIcon="song"></mat-icon>
        {{entityMetaData['Song'].title}}</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/feeds']" mat-list-item>
        <mat-icon matListIcon svgIcon="feed"></mat-icon>
        TiMaFeeds</a>
      <a (click)="closeIfHandset(drawer)" [routerLink]="['/clouds']" mat-list-item>
        <mat-icon matListIcon>cloud</mat-icon>
        CloudTags</a>

      <mat-divider></mat-divider>

      <ng-container *ngIf="authService.isAdmin">
        <a (click)="closeIfHandset(drawer)" [routerLink]="['/area-tree']" mat-list-item>
          <mat-icon matListIcon svgIcon="tree"></mat-icon>
          Area Tree</a>
        <a (click)="closeIfHandset(drawer)" [routerLink]="['/admin/metrics']" mat-list-item>
          <mat-icon matListIcon svgIcon="settings"></mat-icon>
          Admin</a>
        <a (click)="closeIfHandset(drawer)" [routerLink]="['/admin/events']" mat-list-item>
          <mat-icon matListIcon>confirmation_number</mat-icon>
          New Events</a>
      </ng-container>

      <a href="/angkor-docs" mat-list-item target="_docs">
        <mat-icon matListIcon>text_snippet</mat-icon>
        DevGuide</a>
      <a [href]="imprintUrl" mat-list-item target="_imprint">
        <mat-icon matListIcon>gavel</mat-icon>
        Imprint</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- this is the main page w/o sidenav (top menu plus router content) -->
  <mat-sidenav-content class="app-background">
    <!-- toolbar is always on top -->

    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a aria-label="Home" class="title" routerLink="home" title="Go Home">
        <span>{{title}}</span> <!-- welcome to TiMaFe on Air -->
      </a>

      <!-- https://material.angular.io/components/toolbar/overview#positioning-toolbar-content -->
      <span class="app-middle-spacer"></span>

      <!-- AUTHENTICATED? Show user and logout. See ng book p. 360 subscribe only once, use template var-->
      <ng-container *ngIf="authService.isAuthenticated$ | async as authenticated; else unauthenticated">

        <a aria-label="Account" mat-icon-button routerLink="my-profile" title="My Account">
          <span style="font-size: 150%">{{authService.currentUser?.emoji}}</span>
        </a>
        <span *ngIf="authService.currentUser" class="smaller">{{authService.currentUser.name}}</span>&nbsp;
        <button (click)="authService.logout()" aria-label="Logout" color="accent" mat-mini-fab>
          <mat-icon aria-label="Login">logout</mat-icon>
        </button>

      </ng-container>

      <!-- UNAUTHENTICATED? Not logged in yet? Show Login button-->
      <ng-template #unauthenticated>
        <span class="smaller">👻 Login&nbsp;</span>
        <button (click)="authService.login()" aria-label="Login" color="accent" mat-mini-fab title="Login to {{title}}">
          <mat-icon aria-label="Login">login</mat-icon>
        </button>

      </ng-template> <!-- end authenticated / unauthenticated toggle -->

    </mat-toolbar>

    <!-- global progress bar -->
    <div style="height: 4px">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

    <!-- Add Main Content  -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
