<div class="app-flex">

  <mat-card class="app-card" style="max-width: 90%">

    <div>
    <mat-button-toggle-group appearance="legacy" multiple="false" style="background-color: white">
      <!-- legacy appearance takes less space but does not look so nice -->
      <!-- old   *ngFor="let entry of entityTypes;let idx = index" [checked]="(idx === 0)" -->
      <mat-button-toggle (change)="onEntityTypesChange(entry)"
                         *ngFor="let entry of entityTypes;let idx = index" [checked]="(entry.id === entityType)"
                         [value]="entry.id">
        <mat-icon [svgIcon]="entry.icon"></mat-icon>&nbsp;
        {{entry.description}}
      </mat-button-toggle>
    </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Discover locations</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <!-- Silence "Unresolved variable value" false positive error with $any() cast based on
          https://angular.io/guide/template-expression-operators#any-type-cast-function -->
      <input (keyup)="keyUp$.next($any($event.target).value)" [(ngModel)]="store.searchRequest.query" matInput>
      <button (click)="store.clearSearch()" *ngIf="store.searchRequest.query" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Icon Menu with icons based on https://material.angular.io/components/menu/examples -->
    <button [matMenuTriggerFor]="menu" aria-label="Options" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="runSearch()" mat-menu-item>
        <mat-icon>autorenew</mat-icon>
        <span>Refresh List</span>
      </button>
      <a [queryParams]="{from: 'komoot-tours'}" [routerLink]="['/map/']" mat-menu-item>
        <mat-icon>hiking</mat-icon>
        <span>Tours on Map</span>
      </a>
    </mat-menu>

    <!-- Existing Notes table overview -->
    <mat-list *ngIf="items">

      <h3 mat-subheader>
        Found {{items.length}} exciting locations to remember
      </h3>

      <!-- list of matches -->
      <mat-list-item *ngFor="let item of items; index as index; last as last">
        <!--<mat-icon mat-list-icon>new</mat-icon>-->
        <!-- https://material.angular.io/components/list/overview#lists-with-avatars -->
        <img matListAvatar alt="preview"
             [src]="item.imageUrl ?  item.imageUrl : '/assets/icons/'+item.entityType.toLowerCase()+'.svg' "
        />
        <h3 mat-line>
          <!--
          <a [href]="item.primaryUrl" target="_tour">
            <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>
          </a>
          -->
          <!-- if router link is supported, link headline with it an stay within the app. we use external only styling -->
          <a *ngIf="routerLink(item)" class="external" [routerLink]="routerLink(item)">{{item.name}}</a>
          <!-- if not, open new tab to external primary url -->
          <a *ngIf="! routerLink(item)" target="_blank" [href]="item.primaryUrl" title="Linked with {{item.primaryUrl}}">{{item.name}}</a>
          <!--
          <ng-container *ngFor="let tag of item.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
          -->
        </h3>
        <p mat-line> <!-- mat-line is important, or p is appended -->
          <!--<mat-icon inline="true">{{masterData.getAuthScope(item.authScope)?.icon}}</mat-icon>-->
         <!-- <mat-icon inline="true" title="Rating">star</mat-icon>{{item.rating}} -->
          {{item.entityType}}
          · Added {{item.createdAt | dfnsFormatDistanceToNow: {addSuffix: true} }}
          <!--· Been There {{item.beenThere | dfnsFormatDistanceToNow: {addSuffix: true} }} -->
          <mat-icon inline="true" title="Details" (click)="openDetailsDialog(item)">edit</mat-icon>
        </p>
        <!--
        <mat-action-list *ngIf="authService.canEdit" >
          <button mat-list-item (click)="rateUp(item)" >👍</button>
        </mat-action-list>
        -->

        <!-- divide is there are more items to come  -->
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>

      </mat-list-item>

    </mat-list>

  </mat-card>
</div>
