<div class="app-flex">

  <mat-card class="app-card">

    <form (ngSubmit)="onFormSubmit()" [formGroup]="formData">
      <mat-form-field class="app-full-width">
        <input [errorStateMatcher]="matcher" formControlName="name" matInput
               placeholder="Place Name">
        <mat-error>
          <span *ngIf="!formData.get('name').valid && formData.get('name').touched">Please enter Place Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input [errorStateMatcher]="matcher" formControlName="summary" matInput placeholder="Place summary">
        <mat-error>
          <span
            *ngIf="!formData.get('summary').valid && formData.get('summary').touched">Please enter Place Description</span>
        </mat-error>
      </mat-form-field>

      <!-- areaCode select not full width -->
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select formControlName="areaCode">
          <mat-option *ngFor="let areaCode of countries" [value]="areaCode.code">
            {{areaCode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location Type</mat-label>
        <!-- see https://stackblitz.com/edit/angular-8jce6t?file=src%2Fapp%2Fapp.component.ts -->
        <mat-select formControlName="locationType" placeholder="Location Type *">
          <mat-select-trigger *ngIf="getSelectedLotype() as selectedLotype">
            <mat-icon>{{selectedLotype.icon}}</mat-icon>&nbsp;{{selectedLotype.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.value">
            <mat-icon>{{locationType.icon}}</mat-icon>
            <span>{{locationType.label}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- this should become a component one day -->
      <mat-form-field>
        <mat-label>Auth Scope</mat-label>
        <mat-select formControlName="authScope" placeholder="Auth Scope *">
          <mat-select-trigger *ngIf="getSelectedAuthScope() as selectedAuthScope">
            <mat-icon>{{selectedAuthScope.icon}}</mat-icon>&nbsp;{{selectedAuthScope.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let authScope of authScopes" [value]="authScope.value">
            <mat-icon>{{authScope.icon}}</mat-icon>
            <span>{{authScope.label}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- coordinates -->
      <mat-form-field class="app-full-width">
        <input (blur)="checkCoordinates($event)" formControlName="coordinatesStr" matInput
               placeholder="Coordinates Lat(-), Lon(|)"/>
        <a (click)="checkCoordinates($event)" [routerLink]="" matSuffix title="Check Coordinates">
          <mat-icon>add_task</mat-icon>
        </a>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input [errorStateMatcher]="matcher" formControlName="imageUrl" matInput placeholder="Image URL">
        <mat-error>
          <span *ngIf="!formData.get('imageUrl').valid && formData.get('imageUrl').touched">Please enter an URL to an image</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input [errorStateMatcher]="matcher" formControlName="primaryUrl" matInput placeholder="Primary URL">
        <mat-error>
          <span *ngIf="!formData.get('primaryUrl').valid && formData.get('primaryUrl').touched">Enter an optional but valid primary URL</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="app-full-width">
      <textarea #autosize="cdkTextareaAutosize" [errorStateMatcher]="matcher" cdkAutosizeMaxRows="25"
                cdkAutosizeMinRows="2"
                cdkTextareaAutosize
                formControlName="notes"
                matInput
                placeholder="Notes"></textarea>
      </mat-form-field>

      <!-- TAGS TO BE MOVED TO COMPONENT CLASS-->
      <app-tag-input [entityType]="store.entityType()"
                     [parentForm]="formData">
      </app-tag-input>

      <!-- files display and upload  -->
      <app-file-upload (imageEvent)="receiveImageMessage($event)" *ngIf="id"
                       [enableDelete]="authService.canDelete" [enableUpload]="authService.canEdit"
                       [entityId]="id" [entityType]="'Place'"></app-file-upload>

      <!-- action action action -->
      <mat-divider></mat-divider>
      <div class="app-button-row">
        <button *ngIf="authService.canEdit" [disabled]="!formData.valid" color="warn" mat-raised-button type="submit">
          <mat-icon>save</mat-icon>
          Save
        </button>
        &nbsp;
        <a (click)="navigateToItemDetails()" color="primary" mat-raised-button>
          <mat-icon>info</mat-icon>
          Details
        </a>
      </div>

    </form>
  </mat-card>

</div>
