<div class="app-container mat-elevation-z8">

  <mat-card class="app-card">
    <form [formGroup]="formData" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="app-full-width">
        <input matInput placeholder="Place Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!formData.get('name').valid && formData.get('name').touched">Please enter Place Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="app-full-width">
        <input matInput placeholder="Place summary" formControlName="summary"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span
            *ngIf="!formData.get('summary').valid && formData.get('summary').touched">Please enter Place Description</span>
        </mat-error>
      </mat-form-field>

      <!-- areaCode select not full width -->
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select formControlName="areaCode">
          <mat-option *ngFor="let areaCode of countries" [value]="areaCode.code">
            {{areaCode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location Type</mat-label>
        <!-- see https://stackblitz.com/edit/angular-8jce6t?file=src%2Fapp%2Fapp.component.ts -->
        <mat-select placeholder="Location Type *" formControlName="locationType">
          <mat-select-trigger *ngIf="getSelectedLotype() as selectedLotype">
            <mat-icon>{{selectedLotype.icon}}</mat-icon>&nbsp;{{selectedLotype.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.value">
            <mat-icon>{{locationType.icon}}</mat-icon>
            <span>{{locationType.label}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Auth Scope</mat-label>
        <mat-select placeholder="Auth Scope *" formControlName="authScope">
          <mat-select-trigger *ngIf="getSelectedAuthScope() as selectedAuthScope">
            <mat-icon>{{selectedAuthScope.icon}}</mat-icon>&nbsp;{{selectedAuthScope.label}}
          </mat-select-trigger>
          <mat-option *ngFor="let authScope of authScopes" [value]="authScope.value">
            <mat-icon>{{authScope.icon}}</mat-icon>
            <span>{{authScope.label}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input matInput formControlName="coordinatesStr"
               placeholder="Coordinates (Lat, Lon)"/>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input matInput placeholder="Image URL" formControlName="imageUrl" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!formData.get('imageUrl').valid && formData.get('imageUrl').touched">Please enter an URL to an image</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input matInput placeholder="Primary URL" formControlName="primaryUrl" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!formData.get('primaryUrl').valid && formData.get('primaryUrl').touched">Enter an optional but valid primary URL</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="app-full-width">
      <textarea matInput placeholder="Notes" formControlName="notes" [errorStateMatcher]="matcher"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="25"></textarea>
      </mat-form-field>

      <!-- TAGS TO BE MOVED TO COMPONENT CLASS-->
      <mat-form-field class="app-full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of formData.get('tags').value; let i = index;"
                    [selectable]="true" [removable]="true" (removed)="removeTag(i)" color="accent">
            {{tag}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="Add Tags ..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addTag($event)"/>
        </mat-chip-list>
      </mat-form-field>
      <!-- END TAGS -->

      <mat-divider></mat-divider>
      <!-- files overview to be extracted to a component-->
      <table *ngIf="files" mat-table [dataSource]="files" class="app-overview-table">
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef>Filename</th>
          <td mat-cell *matCellDef="let row">
            <a [href]="row.presignedUrl" target="_blank">{{row.filename}}</a></td>
        </ng-container>
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>tags</th>
          <td mat-cell *matCellDef="let row">
            {{row.tags['dimensions']}}
          </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>size</th>
          <td mat-cell *matCellDef="let row">{{row.tags['size']}}b</td>
        </ng-container>
        <!--<tr mat-header-row *matHeaderRowDef="fileColumns"></tr>-->
        <tr mat-row *matRowDef="let row; columns: fileColumns;"></tr>
      </table>

      <!-- files upload  -->
      <app-file-upload [entityId]="id" [entityType]="'PLACE'" [refreshCallback]="refreshCallback" ></app-file-upload>

      <mat-divider></mat-divider>

      <div class="app-button-row">
        <button *ngIf="authService.canEdit" type="submit" [disabled]="!formData.valid" mat-raised-button color="warn">
          <mat-icon>save</mat-icon>
          Save
        </button>
        &nbsp;
        <a mat-raised-button color="primary" (click)="placeDetails()">
          <mat-icon>info</mat-icon>
          Details
        </a>
      </div>

    </form>
  </mat-card>
</div>
