<div class="app-flex">

  <mat-card class="app-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon svgIcon="dish"></mat-icon>
        Add a yummy new Dish
      </mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onFormSubmit()" [formGroup]="formData">

      <mat-form-field class="app-full-width">
        <mat-label>What's your name, yummy Dish?</mat-label>
        <!-- https://stackoverflow.com/a/65447397/1879175 -->
        <!--suppress HtmlFormInputWithoutLabel -->
        <input [errorStateMatcher]="matcher" formControlName="name" matInput >
        <mat-error>
          <span *ngIf="!formData.get('name').valid && formData.get('name').touched">At least 3 chars, please ...</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cuisine</mat-label>
        <mat-select formControlName="areaCode">
          <mat-option *ngFor="let areaCode of countries$ | async" [value]="areaCode.code">
            {{areaCode.adjectival ? areaCode.adjectival : areaCode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="app-button-row">
        <button [disabled]="!formData.valid" color="primary" mat-flat-button type="submit">
          <mat-icon>add</mat-icon>
          Add
        </button>
        &nbsp;
        <a [routerLink]="['/dishes']" color="primary" mat-flat-button>
          <mat-icon>list</mat-icon>
          List</a>
      </div>

    </form>

  </mat-card>

</div>
