[Unit]
Description=${appid} yet another Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -Duser.timezone=UTCn -jar ${appdir}/app.jar
SuccessExitStatus=143
SyslogIdentifier=${appid}

[Install]
WantedBy=multi-user.target
