<div class="app-full">

  <mat-card appearance="outlined" class="app-card" style="width: 80%">
    <h3>
      <mat-icon matListIcon svgIcon="place"></mat-icon>
      TiMaFe ❤️ Places Cloud
    </h3>

    <angular-tag-cloud
      [data]="placeData"
      [overflow]="options.overflow">
    </angular-tag-cloud>
    <mat-divider></mat-divider>
    <h3>
      <mat-icon matListIcon svgIcon="dish"></mat-icon>
      TiMaFe ❤️ Dishes Cloud
    </h3>
    <angular-tag-cloud
      [data]="dishData"
      [overflow]="options.overflow">
    </angular-tag-cloud>

  </mat-card>
</div>
