<div #youTubePlayer class="app-full">

  <!--
  https://stackoverflow.com/questions/59450039/get-id-selected-value-from-autocomplete-in-angular-material
  https://github.com/angular/components/issues/4863
  https://stackblitz.com/edit/mat-autcomplete-displayfn?file=app%2Fautocomplete-display-example.ts
  -->
  <button *ngIf="authService.canEdit" (click)="openAddDialog()" color="primary" mat-mini-fab
          title="Add new video">
    <mat-icon>add</mat-icon>
  </button>&nbsp;

  <!-- smart input field for video search -->
  <mat-form-field class="video-select" appearance="fill">
    <mat-label>Pick a TiMaFe Video</mat-label>
    <input matInput aria-label="Pick a TiMaFe Video"
           [matAutocomplete]="auto"
           [formControl]="optionInputCtrl">
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="getVideoName.bind(this)"
                      (optionSelected)="selectedOption = $event.option.value">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <!--<img class="example-option-img" aria-hidden [src]="state.flag" height="25">-->
        <mat-icon inline="true" matPrefix>videocam</mat-icon>
        <span>{{option.name}}</span>
        <mat-icon *ngIf="option.coordinates?.length > 0" inline="true">gps_fixed</mat-icon>
      </mat-option>
    </mat-autocomplete>
    <button (click)="clearInput()" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- menu with icons based on https://material.angular.io/components/menu/examples -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Video Options">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="refreshOptions()" >
      <mat-icon>autorenew</mat-icon>
      <span>Refresh Playlist</span>
    </button>
    <button mat-menu-item (click)="openEditDialog()" [disabled]="! (authService.canEdit && selectedOption)">
      <mat-icon>edit</mat-icon>
      <span>Edit Video</span>
    </button>
    <button mat-menu-item (click)="openDeleteDialog()" [disabled]="! (authService.canDelete && selectedOption)">
      <mat-icon>delete</mat-icon>
      <span>Dump Video</span>
    </button>
    <a *ngIf="selectedOption?.coordinates?.length > 1" mat-menu-item
       [routerLink]="['/map/@' + selectedOption.coordinates[1] + ',' + selectedOption.coordinates[0]]"
       [queryParams]="{from: 'videos', id: selectedOption.id}">
      <mat-icon>gps_fixed</mat-icon>
      <span>MapMe!</span>
    </a>
    <!-- this should go somewhere else :-) -->
    <a mat-menu-item
       [routerLink]="['/map/']"
       [queryParams]="{from: 'komoot-tours'}">
      <mat-icon>hiking</mat-icon>
      <span>KomootTours</span>
    </a>

  </mat-menu>

  <youtube-player [videoId]="selectedOption && selectedOption.youtubeId"
                  [width]="playerWidth" [height]="playerHeight">
  </youtube-player>

</div>
