<div class="app-flex">

  <mat-card class="app-card mat-elevation-z{{env.matElevation}}">

    <form (ngSubmit)="onFormSubmit()" *ngIf="authService.canEdit" [formGroup]="formData">

      <mat-form-field appearance="fill" class="app-full-width">
        <textarea #autosize="cdkTextareaAutosize" (blur)="parseLinks($event)" [errorStateMatcher]="matcher"
                  cdkAutosizeMaxRows="5"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  formControlName="summary"
                  matInput
                  placeholder="Note Summary"></textarea>
        <mat-error>
          <span
            *ngIf="!formData.get('summary').valid && formData.get('summary').touched">Summary is mandatory</span>
        </mat-error>
      </mat-form-field>

      <!-- tagSuggestion$ | async -->
      <app-tag-input [parentForm]="formData"
                     [tagSuggestions]="tagSuggestions">
      </app-tag-input>

      <!-- And .... Action!!! -->
      <div class="app-button-row">
        <button [disabled]="!formData.valid" color="primary" mat-flat-button type="submit">
          <mat-icon>save</mat-icon>
          Add Quicknote
        </button>
      </div>
    </form>

    <!-- Existing Notes table overview -->
    <!-- #mytable is a template variable which we will use to refresh table data by calling -->
    <table [dataSource]="items" class="app-overview-table" mat-table>

      <ng-container matColumnDef="summary">
        <th *matHeaderCellDef mat-header-cell>Summary</th>
        <!-- color only works when selected is true -->
        <td *matCellDef="let row" mat-cell>
          <span class="app-subtitle">{{row.summary}}</span>
          <ng-container *ngFor="let tag of row.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
          <br/>
          <a *ngIf="row.primaryUrl" [href]="row.primaryUrl" target="_blank" title="Open {{row.primaryUrl}}">Open Link
          </a>
          Created {{row.createdAt | dfnsFormatDistanceToNow}} ago
          ·
          Due {{row.dueDate ? ('in ' + (row.dueDate | dfnsFormatDistanceToNow)) : 'never' }}
          &nbsp;<mat-icon inline="true">{{masterData.getAuthScope(row.authScope)?.icon}}</mat-icon>
        </td>

      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="app-icon" mat-header-cell>Status</th>
        <td *matCellDef="let row" mat-cell>
          <mat-icon matTooltip="hase">{{getNoteStatus(row.status).icon}}</mat-icon>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <!--<tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/places/details/', row.id]" mat-row></tr> -->
      <tr (click)="openDetailsDialog(row,j)" *matRowDef="let row;  let j = index; columns: displayedColumns;"
          mat-row></tr>
    </table>

    <span *ngIf="items" class="app-remark">{{items.length}} Notes to remember ⏰️</span>
  </mat-card>

</div>
