<div class="app-flex"> <!-- app causes issues with inner div -->

  <mat-card class="app-card" style="max-width: 90%"> <!-- hack? w/o inner div becomes 925px width in mobile with app-flex -->

    <form (ngSubmit)="onFormSubmit()" *ngIf="authService.canEdit" [formGroup]="formData">

      <mat-form-field appearance="fill" class="app-full-width">
        <textarea #autosize="cdkTextareaAutosize" (blur)="parseLinks($event)" [errorStateMatcher]="matcher"
                  cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize
                  formControlName="summary"
                  placeholder="Remember something ..."
                  matInput
                  aria-label="Note Summary"></textarea>
        <mat-error>
          <span
            *ngIf="!formData.get('summary').valid && formData.get('summary').touched">Summary is mandatory</span>
        </mat-error>
      </mat-form-field>

      <app-tag-input [entityType]="store.entityType()"
                     [parentForm]="formData">
      </app-tag-input>

      <!-- And .... Action!!! -->
      <div class="app-button-row">
        <button [disabled]="!formData.valid" color="primary" mat-flat-button type="submit">
          <mat-icon>save</mat-icon>
          Add QuickNote
        </button>
      </div>
    </form>

    <!-- Existing Notes table overview -->
    <mat-list *ngIf="items">
      <h3 mat-subheader>
        <mat-icon svgIcon="note"></mat-icon>
        {{items.length}} Notes to remember
      </h3>

      <!-- NgForOf provides exported values that can be aliased to local variables such as
      index, last, even, first, count See https://angular.io/api/common/NgForOf -->
      <mat-list-item (click)="openDetailsDialog(item,index)"
                     *ngFor="let item of items; index as index; last as last">
        <mat-icon mat-list-icon>{{getNoteStatus(item.status)?.icon}}</mat-icon>
        <h4 mat-line>{{item.summary}}
        <ng-container *ngFor="let tag of item.tags">
          <span [ngClass]="getChipClass(tag)">{{tag}}</span>
        </ng-container>
        </h4>
        <p mat-line> <!-- mat-line is important, or p is appended -->
          <mat-icon inline="true">{{masterData.getAuthScope(item.authScope)?.icon}}</mat-icon>
          Added {{item.createdAt | dfnsFormatDistanceToNow}} ago
          <!--· -->
          &nbsp;⏰️Due {{item.dueDate ? ('in ' + (item.dueDate | dfnsFormatDistanceToNow)) : 'never' }}
          <app-user-display *ngIf="item.assignee && item.dueDate" [userId]="item.assignee"></app-user-display>
          <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>
        </p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>

    </mat-list>
    <!-- #mytable is a template variable which we will use to refresh table data by calling -->

  </mat-card>

</div>
