.animated-digit {
  display: inline-flex;
  // See component class for the following props
  // height: 60px;
  // width: 60px;
  // font-size: 32pt;
  // padding: 24px;
  // border-radius: 60px;
  // color: white;
  border: 2px solid #e2a65d; // angkor orange: e2a65d  original color: #e8cce9
  background: rgba(0, 0, 0, 0.2) 20%;
  text-align: center;
  margin-top:0.2em; //  1em is equal to the current font-size of the element in question
  justify-content:center;
  align-items: center;
}
