<!-- https://material.angular.io/components/card/examples -->
<div class="app-flex">
<mat-card *ngIf="item" class="app-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <app-area-display [areaCode]="item.areaCode"></app-area-display>
      {{item.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{item.summary}}
      <a *ngIf="item.primaryUrl" [href]="item.primaryUrl" target="_blank">Open link</a>
    </mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo of {{item.name}}" mat-card-image src="{{item.imageUrl}}" width="400px"/>

  <mat-card-content>
    <p>
      {{item.notes}}
    </p>
    <p *ngIf="item.authScope">
      <mat-icon>{{masterData.getAuthScope(item.authScope).icon}}</mat-icon>
      {{masterData.getAuthScope(item.authScope).label}} Access
    </p>
    <p>
      <mat-icon>schedule</mat-icon>
      Last updated {{item.updatedAt | amTimeAgo }}, {{item.timesServed}}x served
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a *ngIf="authService.canEdit" [routerLink]="['/dish/edit', item.id]" color="primary" mat-raised-button>
      <mat-icon>edit</mat-icon>
      Edit</a>
    <a [routerLink]="['/dishes']" color="primary" mat-raised-button>
      <mat-icon>list</mat-icon>
      List</a>
    <a (click)="justServed()" *ngIf="authService.canEdit" color="primary" mat-raised-button>
      <mat-icon>restaurant</mat-icon>
      Served</a>
    <!--
    <a mat-raised-button *ngIf="authService.canDelete"  color="warn" (click)="confirmDeleteDialog(place)"><mat-icon>delete</mat-icon>Trash</a>
    -->
  </mat-card-actions>
</mat-card>

</div>
