<div class="app-container mat-elevation-z8">

  <!-- https://material.angular.io/components/card/examples -->
  <mat-card class="app-card" *ngIf="item" >
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>
        <app-area-display [areaCode]="item.areaCode"></app-area-display>
        {{item.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{item.summary}}
        <a *ngIf="item.primaryUrl" [href]="item.primaryUrl" target="_blank">Open link</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.imageUrl}}" alt="Photo of {{item.name}}" width="400px" />

    <mat-card-content>
      <p>
        {{item.notes}}
      </p>
      <p *ngIf="item.authScope"><mat-icon>{{masterData.getAuthScope(item.authScope).icon}}</mat-icon>
        {{masterData.getAuthScope(item.authScope).label}} Access
      </p>
      <p><mat-icon>schedule</mat-icon>Last updated {{item.updatedAt | amTimeAgo }}, {{item.timesServed}}x served</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button *ngIf="authService.canEdit" color="primary" [routerLink]="['/dish-edit', item.id]"><mat-icon>edit</mat-icon>Edit</a>
      <a mat-raised-button color="primary" [routerLink]="['/dishes']"><mat-icon>list</mat-icon>List</a>
      <a mat-raised-button color="primary" disabled [routerLink]="['/dishes']"><mat-icon>restaurant</mat-icon>Served</a>
      <!--
      <a mat-raised-button *ngIf="authService.canDelete"  color="warn" (click)="confirmDeleteDialog(place)"><mat-icon>delete</mat-icon>Trash</a>
      -->
    </mat-card-actions>
  </mat-card>
</div>
