<div class="app-full">

  <mat-button-toggle-group appearance="legacy" multiple="false" style="background-color: white">
    <!-- legacy takes less space but does not look so nice -->
    <mat-button-toggle (change)="onMapboxStyleChange(entry)"
                       *ngFor="let entry of mapStyles;let idx = index" [checked]="(idx === 0)"
                       [value]="entry.id">{{entry.description}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <!-- the actual map -->
  <mgl-map [accessToken]="accessToken"
           [center]="coordinates"
           [cursorStyle]="cursorStyle"
           [style]="mapStyle" [zoom]="zoom"
           class="app-wide-map">

    <mgl-geojson-source [data]="points" id="poi-source"></mgl-geojson-source>

    <!-- cool we can scale icon-size dynamically -->
    <mgl-layer (layerClick)="onPOIClick($event)"
               (layerMouseEnter)="cursorStyle = 'pointer'"
               (layerMouseLeave)="cursorStyle = ''"
               [layout]="poiLayerLayout"
               id="poi-layer" source="poi-source" type="symbol">
    </mgl-layer>

    <!-- Display POI Summary when user clicks icon -->
    <mgl-popup *ngIf="selectedPOI" [feature]="selectedPOI">
      <app-area-display [areaCode]="selectedPOI.properties?.areaCode" displaySize="medium"></app-area-display>
      &nbsp;<strong>{{selectedPOI.properties?.name}}</strong><br/>
      <div *ngIf="selectedPOI.properties?.imageUrl">
        <img [src]="selectedPOI.properties?.imageUrl" alt="image"/>
      </div>
      <a [style.display]="selectedPOI.properties?.id ? 'block' : 'none'" [routerLink]="['/places/details/', selectedPOI.properties?.id]">
        <mat-icon class="app-small">open_in_browser</mat-icon>
        Show me this Place!
      </a>
    </mgl-popup>

    <!-- controls -->
    <mgl-control
      mglScale
      unit="metric"
      position="top-right">
    </mgl-control>

    <mgl-control
      mglNavigation>
    </mgl-control>

  </mgl-map>

</div>
