# General properties, may be overwritten by specific profile or via Environment
# or via config/application.properties in root folder (not versioned)

# Configure Application Properties, see also class n.t.a.config.AppProperties
# TIP: To avoid "Cannot find configuration property (...) Warnings, use the property at least once
# in a @Value injection of a bean, e.g.
# @Value($$"${app.tours.api-base-url}")  private val apiBaseUrl: String,
app:
  api-token: siem-reap # only for local testing
  admin-mail: angkor-admin@localhost # local testing, may be overwritten by config/application.properties
  osm-api-base-url: https://nominatim.openstreetmap.org
  # 600s = 10 min, 3600s = 1h, 86400s = 1day (using seconds, 43200 = 12h default is millis)
  janitor:
    fixed-delay-seconds: 45
    fixed-rate-seconds: 86400
    days-to-keep-system-events: 91
    days-to-keep-audit-events: 180
  tours:
    api-base-url: https://dummy.org
    api-user-id: dummy
    # on prod, ~/upload is docker-mounted to /tmp/upload
    import-folder: /tmp/upload
  videos:
    api-base-url: https://www.youtube.com/
  photos:
    feed-url: "" # importer will handle this gracefully
    import-folder: /tmp/upload
  metrics:
    basic-auth-user: prometheus  # overwrite with APP_METRICS_BASIC_AUTH_USER
    basic-auth-password: ""      # sensitive, set with APP_METRICS_BASIC_AUTH_PASSWORD
  kafka:
    fixed-rate-seconds: 120 # default should be more conservative, 120s=2m, 600s=10min

# Configure Logging Levels and Pattern
logging:
  level:
    ROOT: INFO
    # of course our packages are allowed to log in debug mode by default as they are not super verbose
    net.timafe.angkor: DEBUG
    # X509Certificate: Alg:SHA256withRSA (when interacting with cognito)
    jdk.event.security: INFO
    # Apaches http client is also very verbose in debug mode
    org.apache.http: INFO
    org.apache.kafka.clients: WARN
    org.apache.kafka.common: WARN
    # 2026-01-14  supress multiline info logged by org/hibernate/internal/log/ConnectionInfoLogger.java
    org.hibernate.orm.connections.pooling: WARN
    # avoid Bean X of type Y is not eligible for getting processed by all BeanPostProcessors for some flyway / async beans
    org.springframework.context.support.PostProcessorRegistrationDelegate: WARN
    # 2024-02 Uncomment to enable on demand "hidden" logger "How to show all available routes in Spring?:
    #  https://stackoverflow.com/questions/3686196/how-to-show-all-available-routes-in-spring
    # _org.springframework.web.servlet.HandlerMapping.Mappings: debug

    # Uncomment to enable on demand debugging of HikariCP behavior https://stackoverflow.com/a/60778768/4292075
    # com.zaxxer.hikari.HikariConfig: DEBUG
    # com.zaxxer.hikari: TRACE
  pattern:
    # Spring Boot - Customizing Console Logging Format, for default see DefaultLogbackConfiguration class
    # https://www.baeldung.com/spring-boot-logging,
    # https://www.logicbig.com/tutorials/spring-framework/spring-boot/logging-console-pattern.html
    # http://logback.qos.ch/manual/layouts.html#formatModifiers
    # %clr(%d{yyyy-MM-dd HH:mm:ss}){faint} (localtime) but Let's log UTC
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss'Z', UTC}){faint} %clr(%5p){faint} %clr(%-32.32logger{32}){cyan}%clr(:){faint} %m%n%wEx"

# Configure Metrics and Actuator Endpoints
management:
  health:
    # disable mail check for the time being, would also cause integration tests to fail as long as greenmail is only
    # started / stopped within a single test
    # https://stackoverflow.com/questions/70334420/how-to-disable-the-mail-health-check-in-spring-boot
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: info,health,metrics,prometheus
  endpoint:
    # https://www.callicoder.com/spring-boot-actuator/#displaying-detailed-health-information
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true # new key, metrics.prometheus ... is deprecated

server:
  forward-headers-strategy: native # avoid redirect issues with OAuth2 redirectUriTemplate https urls
  # https://stackoverflow.com/questions/44491257/how-to-reduce-spring-boot-memory-usage
  port: 8080
  servlet:
    session:
      timeout: 12h # http session timeout default is 30 min
  tomcat:
    threads:
      max: 20

spring:
  application:
    name: angkor-api

  datasource:
    # set env SPRING_DATASOURCE_URL= jdbc:postgres://host:5432/dbname, same with USERNAME and PASSWORD
    driver-class-name: org.postgresql.Driver
    # Hikari Config Params https://github.com/brettwooldridge/HikariCP?tab=readme-ov-file#gear-configuration-knobs-baby
    hikari:
      # ElephantSQL only supports 5 concurrent connections, so we use small pool sizes
      maximum-pool-size: 3 # SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: "2"
      # This property controls the minimum number of idle connections that HikariCP tries to maintain in the pool.
      minimum-idle: 0 # 2 # SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE: "2"
      # This property controls the maximum amount of time that a connection is allowed to sit idle in the pool.
      idle-timeout: 45000 # aggressive 45s to facilitate early suspend , Default is: 600000 (10 minutes),

  jpa:
    database: postgresql
    generate-ddl: false # we rely on flyway
    hibernate:
      ddl-auto: none # none, validate, update, create-drop.
    open-in-view: false # to disable database queries may be performed during view rendering warning
    show-sql: false # only set show SQL to true on demand, please

  kafka:
    # global bootstrap-servers and security config, can be overwritten in consumer / producer
    security:
      # SASL_PLAINTEXT results in "firewall blocking Kafka TLS traffic" (i.e. it only allows HTTPS traffic),
      protocol: SASL_SSL # SASL_PLAINTEXT or SASL_SSL
    bootstrap-servers: set-me-iup.kafka.cloud:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      security:
        protocol: SASL_SSL
      # Best practice for higher availability in Apache Kafka clients prior to 3.0
      session:
        timeout-ms: 45000
      ssl:
        endpoint:
          identification:
            algorithm: https
      sasl:
        # Customize sasl.client.callback.handler.class,
        # default is org.apache.kafka.common.security.authenticator.SaslClientCallbackHandler
        # SCRAM-SHA-256 or PLAIN (for confluent)
        mechanism: PLAIN
        # place-holder, actual config should not be in version control since it contains secrets !!!
        # use SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG to configure via environment
        # do not specify generic 'sasl.jaas.config' here, use producer / consumer
        #jaas:
        #  config: org.apache.kafka.common.security.plain.PlainLoginModule required username="<set-user>" password="<set-pw>";

  mail:
    host: email-smtp.eu-central-1.amazonaws.com
    # standard mail props as per to https://javaee.github.io/javamail/docs/api/com/sun/mail/smtp/package-summary.html
    properties:
      # usually we want to enforce tls, but not for test (greenmail is on localhost w/o tls)
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      # https://docs.aws.amazon.com/ses/latest/dg/smtp-connect.html STARTTLS port =
      # To set up a STARTTLS connection, the SMTP client connects to the Amazon SES SMTP endpoint on port 25, 587, or 2587.
      # Then issues an EHLO (SMTP extended hello) command, and waits for the server to announce that it supports the
      # STARTTLS SMTP extension. CAUTION: do not use ports 465 or 2465 here, they are for the TLS Wrapper connection
      mail.smtp.port: 2587
      ## various timeouts
      mail.smtp.timeout:  5000
      mail.smtp.connectiontimeout: 5000
      mail.smtp.writetimeout: 5000
      # default from address
      mail.smtp.from: angkor-thom@localhost

  main:
    allow-bean-definition-overriding: true
    banner-mode: "off"

  security:
    # https://docs.spring.io/spring-security/reference/servlet/oauth2/login/core.html#oauth2login-boot-property-mappings
    oauth2:
      client:
        registration:
          cognito:
            #  client-id: no default, please_overwrite_via_env
            #  client-name: no default, please_overwrite_via_env
            #  client-secret: no default, please_overwrite_via_env
            scope: openid
            provider: cognito
            # 2024-09-24 redirectUriTemplate has been removed in favor of redirectUri https://github.com/spring-projects/spring-security/issues/8830
            # DISABLE, or it will redirect to localhost on prod, and it's apparently no longer needed (?): redirectUri http://localhost:8080/login/oauth2/code/cognito
        provider:
          cognito:
            # 2023-01-19 seems previous attribute "cognito:username" meanwhile arrives only as "username" in
            # org.springframework.security.oauth2.core.user.DefaultOAuth2User Constructor w/o any prefix
            # (or more precisely: the constructor is called twice, and the first call only contains username
            user-name-attribute: username
            # issuer-uri: please_overwrite_via_env
            # redirectUriTemplate: http://localhost:8080/login/oauth2/code/cognito # needed?

  servlet:
    multipart:
      max-file-size: 10MB # 1 MB is default
      max-request-size: 10MB # 10 MB is default

  # see also code AsyncConfig class (config package)
  task:
    execution:
      thread-name-prefix: angkor-task-
      pool:
        core-size: 2
        max-size: 10
        queue-capacity: 100
    scheduling:
      thread-name-prefix: angkor-scheduling-
      pool:
        size: 2

  sql:
    init:
      platform: postgres

  http:
    converters:
      preferred-json-mapper: jackson  # what else?

  web:
    error:
      include-message: always

# END of properties that apply for all profiles
---
# spring 'default' profile overwrites, which applies if no specific profile activated (suitable for local dev)
spring:
  config:
    activate:
      on-profile: default

  datasource:
    url: jdbc:postgresql://localhost:5432/angkor_dev
    username: angkor_dev
    password:

app:
  kafka:
    fixed-rate-seconds: 30 # let's pull more frequently on local dev, 600s=10min

---
# spring 'prod' profile overwrites, none-sensitive test specific values only
# for sensitive values see config/application.properties, which is NOT under version control
# alternatively, sensitive prod values may be injected via environment
spring:
  config:
    activate:
      on-profile: prod

  flyway:
    clean-disabled: true
  jackson:
    serialization:
      INDENT_OUTPUT: false # optimize for prod (see also JacksonConfig class which probably handles this dynamically)
  web:
    error:
      include-message: never

---
# spring 'test' profile overwrites, use for none-sensitive test specific values only
# for sensitive values, see src/test/resources/application-test.properties, which is NOT under version control
spring:
  config:
    activate:
      on-profile: test

  mail:
    # mail integration test will use anything defined in properties
    # config/application.properties may overwrite them, but not in CI
    username: greenmail
    password: post1234
    host: localhost
    properties:
        mail.smtp.port: 2525
        mail.smtp.starttls.enable: false
        mail.smtp.starttls.required: false
        mail.smtp.from: angkor-thom-test@localhost
    test-connection: false

  security:
    oauth2:
      client:
        registration:
          cognito:
            client-id: dummy-for-testing
            client-name: dummy-for-testing
            client-secret: dummy-for-testing
        provider:
          cognito:
            issuer-uri: dummy-for-testing

  # How to create database test data for Spring Boot applications with Flyway DB
  # https://medium.com/@jonashavers/how-to-create-database-test-data-for-spring-boot-applications-with-flyway-db-294a436db7ee
  flyway:
    locations: classpath:/db/migration,classpath:/db/testdata
    # new with Spring 3.0? we need to disable this explicitly, or we get the following exception when
    # FlywayConfig wants to clean the DB (activates by Profile 'clean')
    #   Unable to execute clean as it has been disabled with the 'flyway.cleanDisabled' property.
    #	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.initializeBean
    clean-disabled: false

app:
  janitor:
    ## delay by 1h for test profile to ensure cleanup scheduler doesn't run during tests
    fixed-delay-seconds: 3600

---

