%app-chip-base {
  display: inline-block;
  padding: 0 10px;
  // height: 50px;
  // font-size: 16px;
  line-height: 24px;
  border-radius: 25px;
  background-color: blanchedalmond;
  margin-left: 5px;
}

// Use SCSS Extend to share base class
// More nice colors? check https://clrs.cc/
// Skinning your prototypes just got easier - colors.css is a collection of skin
.app-chip {
  @extend %app-chip-base;
}

.app-chip-red {
  @extend %app-chip-base;
  background-color: red;
  color: #ddffdd;
}

.app-chip-green {
  @extend %app-chip-base;
  background-color: darkolivegreen;
  color: #ddffdd;
}

.app-chip-blue {
  @extend %app-chip-base;
  background-color: #0074D9;
  color: #ddffdd;
}

.app-chip-sand {
  @extend %app-chip-base;
  background-color: #edc9af;
  color: #ddffdd;
}


