<div #demoYouTubePlayer class="app-full" >
  <section>
    <div class="demo-video-selection">
      <mat-form-field style="min-width: 400px">
        <mat-label>Watch TiMaFe Video</mat-label>
        <mat-select [(ngModel)]="selectedVideo" name="selectedVideo" aria-label="Select a video" >
          <mat-option *ngFor="let video of videos" [value]="video">
            {{video.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <youtube-player [videoId]="selectedVideo && selectedVideo.id"
                    [width]="videoWidth" [height]="videoHeight"></youtube-player>
  </section>
</div>
