.media-player {
  //  position: absolute;
  // bottom: 0;
  // width: 90%;
  margin-bottom: 5px;

  .time-slider {
    width: 90% !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .media-action-bar {
    width: 90%;
    //  "rem = The root element's font-size"
    padding: 1rem;
    justify-content: center;

    .mat-icon {
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
    }
  }
}

.rounded {
  border-radius: 25px;
}
.click-list {
  cursor: pointer
}
