<div class="app-flex">

  <mat-card class="app-card" style="max-width: 90%">
    <h3>
      <mat-icon svgIcon="song"></mat-icon>
      Welcome to TiMaFe Radio 91
    </h3>&nbsp;

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Folder</mat-label>
        <mat-select [(value)]="selectedFolder"  (selectionChange)= folderChange($event.value)>
          <!-- use filename, not path ... we let imagine construct the url path -->
          <mat-option *ngFor="let folder of (audioService.folders$|async)" [value]="folder.filename">
            {{folder.filename}}
          </mat-option>
          <!-- temp workaround, this should really come from the imagine service -->
          <mat-option [value]="'_all/ '">All (*)</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="text" [formControl]="filterCtl" placeholder="Pick a Song for the Road" matInput>
        <button (click)="clearSearch()" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <!-- Result List -->
    <!-- https://stackoverflow.com/a/52750695/4292075 -->
    <mat-list *ngIf="(filteredSongs$ | async ) as filteredSongs">

      <!-- the actual player -->
      <div class="media-player">
        <mat-toolbar class="rounded" color="primary">
          <mat-toolbar-row>
            {{ state?.readableCurrentTime }}
            <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                        (input)="onSliderChangeEnd($event)"
                        [disabled]="state?.error || currentSong.index === undefined"></mat-slider>
            {{ state?.readableDuration }}
          </mat-toolbar-row>

          <mat-toolbar-row class="media-action-bar">
            <!-- [disabled]="isFirstPlaying()"  -->
            <button mat-button (click)="previous()" [disabled]="currentSong.index === undefined||currentSong.index <=0">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>

            <button mat-button (click)="play()" [disabled]="currentSong.index === undefined || state?.error" *ngIf="!state?.playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>

            <button mat-button (click)="pause()" *ngIf="state?.playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>

            <button mat-button (click)="next()" [disabled]="currentSong.index === undefined||currentSong.index === filteredSongs.length -1">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>

      </div>

      <!-- summary <h3 mat-subheader>-->
      <div class="rounded" style="border: 1px dotted gray; padding-left: 5px;display: flex; align-items: center">
        <!--<mat-icon inline="true" title="playing">equalizer</mat-icon>-->
        <img src="/assets/radio-playing25.gif" alt="playing" [hidden]="!state?.playing" >&nbsp;
        {{currentSong?.song ? 'playing #'+currentSong.index + '/' + filteredSongs.length + ' ' + currentSong.song.tags['Title']
        :  filteredSongs.length  + ' songs found, pick one!'}}
      </div>

      <!-- list of matches -->
      <mat-list-item *ngFor="let song of filteredSongs; index as rowIndex; last as last"
                     (click)="openSong(filteredSongs, rowIndex)"
                     class="click-list">
        <!-- https://material.angular.io/components/list/overview#lists-with-avatars -->
        <!--<img matListAvatar alt="preview" [src]="previewImageUrl(item)"/> -->

        <!-- Main title, link will trigger open details dialog -->
        <h3 mat-line>
          <span *ngIf="currentSong?.index === rowIndex">
            <img src="/assets/radio-playing25.gif" alt="playing" />
          </span>
          <!-- <app-area-display *ngIf="item.areaCode" [areaCode]="item.areaCode" displaySize="md"></app-area-display> -->
          <!--<mat-icon [svgIcon]="item.entityType.toLowerCase()"></mat-icon>-->
          <!-- if router link is supported, link headline with it an stay within the app. we use external only styling -->
          <!--<a [routerLink]="[]" (click)="openDetailsDialog(item.id,item.entityType,rowIndex)" class="external">
            {{item.name}}
          </a>-->
          {{song.tags['Title'] ? song.tags['Title'] : ('⚠️ ' + song.path + ' (no title)')}}
          {{song.tags['Artist'] ? ( ' - ' + song.tags['Artist']) : '' }}
        </h3>

        <!-- mat-line is important, or p is appended -->
        <p mat-line>
          <mat-icon inline="true" title="Restricted Access">security</mat-icon>
          Restricted
          <mat-icon *ngIf="song.tags['Genre']" inline="true" title="Genre">speaker</mat-icon>
          {{song.tags['Genre']}}
          <mat-icon *ngIf="song.tags['Album']" inline="true" title="Album">folder</mat-icon>
          {{song.tags['Album']}}

          <app-rating  *ngIf="song.tags['Rating']" [initialRating]="song.tags['Rating'] / 64" readonly="true"></app-rating>
        </p>
        <p *ngIf="song.presignedUrl" mat-line>
          <mat-icon inline="true">play</mat-icon>
          Play
          <a [href]="song.presignedUrl" target="_song" class="external">Play in New Tab</a>
        </p>

        <!-- divide is there are more items to come  -->
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>

      </mat-list-item>

    </mat-list>

  </mat-card>

</div>
