<div class="app-flex">

  <mat-card class="app-card" style="max-width: 90%">
    <h3>
      <mat-icon svgIcon="song"></mat-icon>
      Welcome to Radio 91
    </h3>&nbsp;
    <!-- Result List -->
    <mat-list *ngIf="songs">

      <!-- the actual player -->
      <div class="media-footer">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            {{ state?.readableCurrentTime }}
            <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                        (input)="onSliderChangeEnd($event)"
                        [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
            {{ state?.readableDuration }}
          </mat-toolbar-row>

          <mat-toolbar-row class="media-action-bar">
            <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>

            <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>

            <button mat-button (click)="pause()" *ngIf="state?.playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>

            <button mat-button [disabled]="isLastPlaying()" (click)="next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <!-- summary -->
      <h3 mat-subheader>Found {{songs.length}} songs for the road</h3>

      <!-- list of matches -->
      <mat-list-item *ngFor="let song of songs; index as rowIndex; last as last" (click)="openSong(song, rowIndex)"
                     style="cursor: pointer">
        <!--<mat-icon mat-list-icon>new</mat-icon>-->
        <!-- https://material.angular.io/components/list/overview#lists-with-avatars -->
        <!--<img matListAvatar alt="preview" [src]="previewImageUrl(item)"/> -->


        <!-- Main title, link will trigger open details dialog -->
        <h3 mat-line>
          <!-- <app-area-display *ngIf="item.areaCode" [areaCode]="item.areaCode" displaySize="md"></app-area-display> -->
          <!--<mat-icon [svgIcon]="item.entityType.toLowerCase()"></mat-icon>-->
          <!-- if router link is supported, link headline with it an stay within the app. we use external only styling -->
          <!--<a [routerLink]="[]" (click)="openDetailsDialog(item.id,item.entityType,rowIndex)" class="external">
            {{item.name}}
          </a>-->
          {{song.tags['Title'] ? song.tags['Title'] : ('⚠️ ' + song.path + ' (no title)')}}
          {{song.tags['Artist'] ? ( ' - ' + song.tags['Artist']) : '' }}
        </h3>

        <!-- Tagline [nice] [cool] [lets-go] -->
        <!--
        <p mat-line>
          <ng-container *ngFor="let tag of item.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
        </p>
        -->
        <!-- links and icons -->
        <!-- mat-line is important, or p is appended -->
        <p mat-line>
          <mat-icon inline="true" title="Restricted Access">security</mat-icon>
          Restricted
          <mat-icon *ngIf="song.tags['Genre']" inline="true" title="Genre">speaker</mat-icon>
          {{song.tags['Genre']}}
          <mat-icon *ngIf="song.tags['Album']" inline="true" title="Album">folder</mat-icon>
          {{song.tags['Album']}}
          <!--
          · <a [href]="song.presignedUrl" target="_song" class="external">Play in Tab
          -->
          <!--   <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>-->
        </p>
        <p *ngIf="song.presignedUrl" mat-line>
          <mat-icon inline="true">play</mat-icon>
          Play
          <a [href]="song.presignedUrl" target="_song" class="external">Play in New Tab</a>
        </p>

        <!--
        <mat-action-list>
          <button (click)="playSong(song)" mat-mini-fab aria-label="Play">
            <mat-icon>play_circle_outline</mat-icon>
          </button>

        </mat-action-list>
        -->

        <!-- divide is there are more items to come  -->
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>

      </mat-list-item>

    </mat-list>


    <!--<pre>{{songs|json}}</pre> -->


  </mat-card>

</div>
