
<h3 mat-dialog-title>
  <mat-icon svgIcon="video"></mat-icon>
  {{data.id ? 'Update' : 'Submit a new'}} {{data.mediaType | titlecase}}
</h3>

<form (ngSubmit)="saveItem()" [formGroup]="formData">
<div mat-dialog-content>
  <mat-form-field class="app-full-width">
    <mat-label>Youtube URL</mat-label>
    <input matInput formControlName="linkUrl" required>
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>Nice Name</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <!-- let's put our new place on the map -->
  <app-coordinates-input formFieldClass="app-full-width" label="Place of Video"
                         [formControlInput]="formData.get('coordinatesStr')">
  </app-coordinates-input>

</div>
<div mat-dialog-actions>
  <!--
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" color="primary" >Ok</button>
  -->
  <button *ngIf="authService.canEdit" color="primary" mat-flat-button type="submit">
    <mat-icon>save</mat-icon>
    Save
  </button>&nbsp;
  <button (click)="closeItem()" color="primary" mat-flat-button type="button">
    <mat-icon>undo</mat-icon>
    Back
  </button>&nbsp;

</div>
</form>
