<div class="app-full">

  <!-- Filter selector to switch between different kind of places -->
  <button [matMenuTriggerFor]="menu" aria-label="Filter Places" color="primary" mat-raised-button>
    <mat-icon>filter_list</mat-icon>
  </button>&nbsp;

  <mat-button-toggle-group appearance="legacy" multiple="false" style="background-color: white">
    <!-- legacy appearance takes less space but does not look so nice -->
    <mat-button-toggle (change)="onMapboxStyleChange(entry)"
                       *ngFor="let entry of mapStyles;let idx = index" [checked]="(idx === 0)"
                       [value]="entry.id">{{entry.description}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <!-- todo this should be managed by component class-->
  <mat-menu #menu="matMenu"> <!-- template var #menu must match matMenuTriggerFor above-->
    <button (click)="initPlaces2Go()" mat-menu-item>
      <mat-icon>push_pin</mat-icon>
      <span>Places 2 Go</span>
    </button>
    <button (click)="initTours()" mat-menu-item>
      <mat-icon>hiking</mat-icon>
      <span>Our Tours</span>
    </button>
    <button (click)="initVideos()" mat-menu-item>
      <mat-icon>camera</mat-icon>
      <span>Video Tube</span>
    </button>
    <button (click)="initPosts()" mat-menu-item>
      <mat-icon>rss_feed</mat-icon>
      <span>Blog Posts</span>
    </button>
  </mat-menu>

  <!-- the actual map -->
  <mgl-map [accessToken]="accessToken"
           [center]="coordinates"
           [cursorStyle]="cursorStyle"
           [style]="mapStyle" [zoom]="zoom"
           class="app-wide-map">

    <mgl-geojson-source [data]="points" id="poi-source"></mgl-geojson-source>

    <!-- cool we can scale icon-size dynamically -->
    <mgl-layer (layerClick)="onPOIClick($event)"
               (layerMouseEnter)="cursorStyle = 'pointer'"
               (layerMouseLeave)="cursorStyle = ''"
               [layout]="poiLayerLayout"
               id="poi-layer" source="poi-source" type="symbol">
    </mgl-layer>

    <!-- Display POI Summary when user clicks icon -->
    <!-- default maxWidth > 240px, try out https://github.com/mapbox/mapbox-gl-js/issues/1862 -->
    <mgl-popup *ngIf="selectedPOI" [feature]="selectedPOI" maxWidth="340px">
      <!-- display Size see AreaDisplaySize: 'sm' | 'md' | 'lg' | 'xl'; -->
      <app-area-display [areaCode]="selectedPOI.properties?.areaCode" displaySize="md"></app-area-display>
      &nbsp;<strong>{{selectedPOI.properties?.name}}</strong><br/>
      <div *ngIf="selectedPOI.properties?.imageUrl">
        <img [src]="selectedPOI.properties?.imageUrl" alt="thumbnail" style="max-width: 90%;"/>
      </div>
      <a [routerLink]="[selectedPOI.properties?.routerLink]" class="external"
         [style.display]="selectedPOI.properties?.routerLink ? 'block' : 'none'">
        Take me there!
      </a>
    </mgl-popup>

    <!-- builtin controls scale  scale or geo-locate-->
    <mgl-control mglScale position="top-right" unit="metric">
    </mgl-control>

    <mgl-control mglNavigation position="top-right">
    </mgl-control>

    <!-- for "pick your location, will trigger prompt in browser" -->
    <mgl-control mglGeolocate position="top-right">
    </mgl-control>

  </mgl-map>

</div>
