<div class="app-flex">

  <mat-card class="app-card">

    <!-- Existing Notes table overview -->
    <mat-list *ngIf="items">
      <h3 mat-subheader>
        <mat-icon svgIcon="tour"></mat-icon>
        {{items.length}} Exciting Tours to remember
      </h3>

      <mat-list-item *ngFor="let item of items; index as index; last as last">
        <!--<mat-icon mat-list-icon>new</mat-icon>-->
        <!--<img [src]="item.imageUrl" alt="preview" /> -->
        <h4 mat-line>{{item.name}}
          <ng-container *ngFor="let tag of item.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
        </h4>
        <p mat-line> <!-- mat-line is important, or p is appended -->
          <!--<mat-icon inline="true">{{masterData.getAuthScope(item.authScope)?.icon}}</mat-icon>-->
          <!--Added {{item.createdAt | dfnsFormatDistanceToNow: {addSuffix: true } }}-->
          <!--· -->
          {{item.beenThere}}
          <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>
          <a [href]="item.primaryUrl" target="_tour">External Link</a>
        </p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>

    </mat-list>

  </mat-card>
</div>
