<div class="app-flex">

  <mat-card class="app-card">

    <mat-form-field appearance="outline">
      <mat-label>Discover exciting tours</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input (keyup)="keyUp$.next($event.target.value)" [(ngModel)]="store.searchRequest.query" matInput>
      <button (click)="store.clearSearch()" *ngIf="store.searchRequest.query" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- trigger explicitly -->
    <button (click)="runSearch()" aria-label="Run Search" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <!-- Existing Notes table overview -->
    <mat-list *ngIf="items">


      <h3 mat-subheader>
        <mat-icon svgIcon="tour"></mat-icon>
        {{items.length}} Exciting Tours to remember
      </h3>

      <mat-list-item *ngFor="let item of items; index as index; last as last">
        <!--<mat-icon mat-list-icon>new</mat-icon>-->
        <!-- https://material.angular.io/components/list/overview#lists-with-avatars -->
        <img [src]="item.imageUrl" alt="preview" matListAvatar/>
        <h4 mat-line>{{item.name}}
          <!--
          <ng-container *ngFor="let tag of item.tags">
            <span [ngClass]="getChipClass(tag)">{{tag}}</span>
          </ng-container>
          -->
        </h4>
        <p mat-line> <!-- mat-line is important, or p is appended -->
          <!--<mat-icon inline="true">{{masterData.getAuthScope(item.authScope)?.icon}}</mat-icon>-->
          <mat-icon *ngIf="item.primaryUrl" inline="true" title="Linked with {{item.primaryUrl}}">link</mat-icon>
          <a [href]="item.primaryUrl" target="_tour">External Link</a>
          · Added {{item.createdAt | dfnsFormatDistanceToNow: {addSuffix: true} }}
          · Been There {{item.beenThere | dfnsFormatDistanceToNow: {addSuffix: true} }}
        </p>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </mat-list-item>

    </mat-list>

  </mat-card>
</div>
