<div class="example-container mat-elevation-z8">

  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/places']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="placeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('name').valid && placeForm.get('name').touched">Please enter Place Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Place summary" formControlName="summary"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('summary').valid && placeForm.get('summary').touched">Please enter Place summary</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Area Code" formControlName="areaCode"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!placeForm.get('areaCode').valid && placeForm.get('areaCode').touched">Please enter Area</span>
        </mat-error>
      </mat-form-field>


      <div class="button-row">
        <button type="submit" [disabled]="!placeForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>

</div>
