/* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.app-full-width {
  width: 100%;
}

.app-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.mat-flat-button {
  margin: 5px;
}
