
// div.app-links is the div that wraps all app-link cards

/* https://m2.material.io/components/cards/web#using-cards */

div.app-link {
  display: flex;
  flex-wrap: wrap;
}

.app-link-subtitle {
  padding: 10px;
}

// for small devices
@media (max-width: 768px) {
  // yes this is ugly
  div.app-link {
    margin-left: 10%;
  }
  h3 {
    // Space is valuable, so we reduce from 1em here
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
/*  background-color: rgba(255, 255, 255, .9);  =  80% opaque white */
mat-card.app-link {
  margin: 10px;
  width: 116px;
  // nice trick https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it
  background-color: rgba(255, 255, 255, .9);
}

img.app-link {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card.app-link img {
  height: 76px;
}

.mat-mdc-card.app-link:hover {
  background-color: #D8D8D8;
}

// our footer line, which we display only on the home page
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #080300;
  font-size: 80%;
  text-align: center;
  margin: 0;
  color: #FFFAF0;
}
