<div class="app-flex">

  <h3>
    ⛩️
    <ng-container *ngIf="authService.isAuthenticated$ | async as authenticated; else unauthenticated">
      Welcome to '{{env.releaseName | titlecase}}', {{authService.currentUser?.name}}!
    </ng-container>
    <ng-template #unauthenticated>
      <!-- https://angular.io/api/router/ActivatedRouteSnapshot url returns URLSegment[] -->
      {{route.snapshot.url.join('') === 'logout' ? 'Bye and have a 🍹' : 'Welcome to the Club'}}, TiMaFe Guest!
    </ng-template>
  </h3>

  <div class="app-link">

    <mat-card class="app-link app-card">
      <mat-card-subtitle>Places 2 Go</mat-card-subtitle>
      <mat-card-content>
        <!--   removed, logo is no longer centered-->
        <a [routerLink]="['/places']"><img alt="backpack" src="/assets/icons/island.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.places"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>WorldWideMap</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/map']"><img alt="world" src="/assets/icons/map.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.pois"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>Wish a Dish</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/dishes']"><img alt="chilies" src="/assets/icons/bowl.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.dishes"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>MerksteWas?</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/notes']"><img alt="note" src="/assets/icons/notebook.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.notes"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>Schaumerma!</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/videos']"><img alt="videos" src="/assets/icons/video.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.videos"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>TiMaFeeds</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/feeds']"><img alt="feeds" src="/assets/icons/feed.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.feeds"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card class="app-link app-card">
      <mat-card-subtitle>TiMaTours</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/tours']"><img alt="tours" src="/assets/icons/tour.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.tours"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="footer">
    <span class="smaller">🐫 2021 TiMaFe on Code
      · {{env.appVersion}} "{{ env.releaseName | titlecase }}"
      · Angular {{env.angularVersion}}
      · Running for {{env.uiStarted | dfnsFormatDistanceToNow}}
    </span>
  </div>

</div>
