<div class="app-flex">

  <h3>
    ⛩️
    <ng-container *ngIf="authService.isAuthenticated$ | async as authenticated; else unauthenticated">
      Welcome to '{{env.releaseName | titlecase}}', {{authService.currentUser?.name}}!
    </ng-container>
    <!-- rendered if authService returns unAuthenticated -->
    <ng-template #unauthenticated>
      <!-- https://angular.io/api/router/ActivatedRouteSnapshot url returns URLSegment[] -->
      {{route.snapshot.url.join('') === 'logout' ? 'Bye and have a 🍹' : 'Welcome to the Club'}}, TiMaFe Guest!
    </ng-template>
  </h3>

  <div class="app-link">


    <mat-card appearance="outlined" class="app-link app-card">
      <mat-card-subtitle>WorldWideMap</mat-card-subtitle>
      <mat-card-content>
        <a [routerLink]="['/map']"><img alt="world" src="/assets/icons/map.svg"/></a>&nbsp;
        <app-count-up [borderRadius]="countUpConfig.borderRadius" [digit]="counts.pois"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" *ngFor="let entity of entityTypes" class="app-link app-card">
      <mat-card-subtitle>{{entity.title}}</mat-card-subtitle> <!-- e.g. Places2Go -->
      <mat-card-content>
        <!--   removed, logo is no longer centered-->
        <a [routerLink]="['/'+ entity.path]"><img [alt]="entity.name" [src]="entity.iconUrl"/></a>&nbsp;
        <app-count-up [digit]="counts[entity.path]"
                      [borderRadius]="countUpConfig.borderRadius"
                      [duration]="countUpConfig.duration" [fontSize]="countUpConfig.fontSize"
                      [height]="countUpConfig.height"
                      [padding]="countUpConfig.padding" [width]="countUpConfig.width">
        </app-count-up>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="footer">
    <span class="smaller">🐫 2021 TiMaFe on Code
      · {{env.appVersion}} "{{ env.releaseName | titlecase }}"
      · Angular {{env.angularVersion}}
      · Running for {{env.uiStarted | humanizeDate}}
    </span>
  </div>

</div>
