/* Structure */
span.round { border-radius: 50%}

// From https://material.angular.io/components/card/examples
.example-card {
  max-width: 400px;
}

/**
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

 */

// From other examples
.example-container {
  position: relative;
  padding: 5px;
}


.mat-flat-button {
  margin: 5px;
}
