<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/places']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2><span class="flag-icon flag-icon-{{place.country}}" title="{{place.country}}"></span> {{place.name}}</h2>
        <h4>{{place.lotype}}</h4>
      </mat-card-title>
      <mat-card-subtitle>{{place.summary}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>
       <!-- <dd>{{place.updated | date}}</dd>-->
        <img src="{{place.imageUrl}}" title="{{place.name}}" width="400px" />
        </dt>
        <dd>...</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/place-edit', place.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deletePlace(place.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
