<div class="example-container mat-elevation-z8">

  <!-- https://material.angular.io/components/card/examples -->
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image">
      </div>-->
      <mat-card-title>
        <span class="flag-icon flag-icon-{{place.areaCode}} flag-icon-squared custom-flag-round" title="{{place.areaCode}}"></span>
        {{place.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{place.summary}}
        <a *ngIf="place.primaryUrl" [href]="place.primaryUrl" target="_blank">Open link</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{place.imageUrl}}" alt="Photo of {{place.name}}" width="400px" />

    <mat-card-content>
      <p>
        {{place.notes}}
      </p>
      <p  *ngIf="coordinates">
        <mat-icon>location_on</mat-icon>{{coordinates.latLonDeg}}
        <a [href]="coordinates.gmapsUrl" target="_blank">Open gmaps</a>
      </p>
      <p  *ngIf="place.locationType">
      <mat-icon *ngIf="place.locationType">{{masterData.lookupLocationType(place.locationType).icon}}</mat-icon>
        {{masterData.lookupLocationType(place.locationType).label}}
      </p>
      <p  *ngIf="place.authScope"><mat-icon>{{masterData.lookupAuthscope(place.authScope).icon}}</mat-icon>
        {{masterData.lookupAuthscope(place.authScope).label}} Access
      </p>
      <p><mat-icon>schedule</mat-icon>
       Last updated {{place.updatedAt | amTimeAgo }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="['/place-edit', place.id]"><mat-icon>edit</mat-icon>Edit</a>
      <a mat-raised-button color="primary" [routerLink]="['/places']"><mat-icon>list</mat-icon>List</a>
      <a mat-raised-button color="warn" (click)="confirmDeleteDialog(place)"><mat-icon>delete</mat-icon>Trash</a>
    </mat-card-actions>
  </mat-card>
</div>
