/* Structure */

// From https://material.angular.io/components/card/examples

// Hack https://github.com/google/material-design-icons/issues/206#issuecomment-268776966
.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

// nice external link? for [target="_blank"] or  links with class external?
// https://endurtech.com/css-icon-for-links-that-open-new-window-for-web-accessibility/
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

/**
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

 */

// From other examples
.example-container {
  position: relative;
  padding: 5px;
}


.mat-flat-button {
  margin: 5px;
}
