# copy to application.properties (which is .gitinored) and use it to store
# sensitive information for your development instance

spring.datasource.url= jdbc:postgresql://XXXXXXXX:5432/XXXXX?sslmode=require
spring.datasource.username=XXXXX
spring.datasource.password=XXXXX
