# copy to application.properties (which is .gitinored) and use it to store
# sensitive information for your test instance

spring.datasource.url=jdbc:postgresql://localhost:5432/angkor_test
spring.datasource.username=angkor_dev
spring.datasource.username=XXXXX
spring.datasource.password=XXXXX
