<div class="example-container mat-elevation-z8">

  <!-- lass="example-loading-shade"
       *ngIf="isLoadingResults" -->
  <div>
    <mat-progress-bar  *ngIf="isLoadingResults" mode="indeterminate" ></mat-progress-bar>
    <!--<mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
  </div>

  <div class="button-row">
    <!--
    <a mat-flat-button color="primary" [routerLink]="['/place-add']">
      <mat-icon>add</mat-icon>
    </a>
    -->
    <span class="subtitle">{{data.length}} Dishes we'd love to eat soon 🍲️</span>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

      <!-- Country -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Origin</th>
        <!--class="flag-icon-background flag-icon-{{row.country}}" -->
        <td mat-cell *matCellDef="let row" >
          <span class="flag-icon flag-icon-{{row.country}}" title="{{row.country}}" ></span>
        </td>
      </ng-container>
      <!---->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Dish Name</th>
        <td mat-cell *matCellDef="let row">
          <span class="subtitle">{{row.name}}</span><br />
          {{row.authenticName}}
        </td>
      </ng-container>

      <!-- Summary
      <ng-container matColumnDef="authenticName">
        <th mat-header-cell *matHeaderCellDef>Authentic Name</th>
        <td mat-cell *matCellDef="let row">{{row.authenticName}}</td>
      </ng-container>
      -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- [routerLink]="['/dish-details/' , row.id]" -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
