<!-- from ng generate @angular/material:material-nav --name=nav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Your Choice</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  [routerLink]="['/places']">Places</a>
      <a mat-list-item  [routerLink]="['/map']">Map</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- *ngIf="isHandset$ | async" --><!-- we want it always -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      &nbsp;
      <button mat-icon-button (click)="openSnackBar('Info coming soon','Close')" aria-label="Info">
        <mat-icon aria-label="Announcement">announcement_outline</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Main Content Here -->
    <div style="text-align:center" >
      <mat-icon style="height: 128px; transform: scale(4);" svgIcon="backpack"></mat-icon>
    </div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
