<!-- loosely based on ng generate @angular/material:material-nav --name=nav -->
<!-- this is the full width part below the top menu [style.marginTop.px]="(isHandset$ | async) ? 56 : 0"-->
<mat-sidenav-container class="sidenav-container">


  <!-- lefthandside menu, can fly in  fixedTopGap="56" -->
  <!-- CHECK https://stackoverflow.com/questions/53512602/closing-side-nav-on-clicking-router-link-for-small-devices
       https://stackblitz.com/edit/angular-close-side-nav-on-button-click?file=app%2Fsidenav-responsive-example.html -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <!--
    <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">     -->
    <mat-toolbar>🥣 Today's Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" (click)="closeIfHandset(drawer)">
        <mat-icon matListIcon>home</mat-icon>
        Planet Home</a>
      <a mat-list-item [routerLink]="['/map']" (click)="closeIfHandset(drawer)">
        <mat-icon matListIcon>language</mat-icon>
        WorldWideMap</a>
      <a mat-list-item [routerLink]="['/places']" (click)="closeIfHandset(drawer)">
        <mat-icon matListIcon>place</mat-icon>
        Places 2 Go</a>
      <a mat-list-item [routerLink]="['/dishes']" (click)="closeIfHandset(drawer)">
        <mat-icon matListIcon>food_bank</mat-icon>
        Wish a Dish</a>
      <a mat-list-item [routerLink]="['/notes']" (click)="closeIfHandset(drawer)">
        <mat-icon matListIcon>emoji_objects</mat-icon>
        MerksteWas?</a>
      <mat-divider></mat-divider>
      <ng-container *ngIf="authService.isAdmin">
        <a mat-list-item [routerLink]="['/area-tree']" (click)="closeIfHandset(drawer)">
          <mat-icon matListIcon>local_florist</mat-icon>
          Area Tree</a>
        <a mat-list-item [routerLink]="['/admin/metrics']" (click)="closeIfHandset(drawer)">
          <mat-icon matListIcon>admin_panel_settings</mat-icon>
          Admin</a>
      </ng-container>
      <a mat-list-item href="/angkor-docs" target="_docs">
        <mat-icon matListIcon>text_snippet</mat-icon>
        DevGuide</a>
      <a mat-list-item [href]="imprintUrl" target="_imprint">
        <mat-icon matListIcon>gavel</mat-icon>
        Imprint</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- this is the main page w/o sidenav (top menu plus router content) -->
  <mat-sidenav-content>
    <!-- toolbar is always on top -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>&nbsp; <!-- welcome to TiMaFe on Air -->

      <!-- ng book p 360 subscribe only once, use template var-->
      <ng-container *ngIf="authService.isAuthenticated$ | async as authenticated; else unauthenticated">

        <a routerLink="my-profile" mat-icon-button aria-label="Account">
          <mat-icon aria-label="Account">face_outline</mat-icon>
        </a>
        <span *ngIf="authService.currentUser" class="smaller">{{authService.currentUser.name}}</span>&nbsp;
        <button  mat-mini-fab color="accent"  (click)="authService.logout()" aria-label="Logout">
          <mat-icon aria-label="Login">logout_outline</mat-icon>
        </button>
      </ng-container>

      <!-- not logged in yet? Show Login button-->
      <ng-template #unauthenticated>
        <button mat-mini-fab color="accent" (click)="authService.login()" aria-label="Login" title="Login to {{title}}">
          <mat-icon aria-label="Login">login_outline</mat-icon>
        </button>
      </ng-template>

    </mat-toolbar>

    <!-- global progress bar -->
    <div>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

    <!-- Add Main Content  -->
    <div class="main">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
