<!-- file overview -->
<table *ngIf="files" [dataSource]="files" class="app-overview-table" mat-table>
  <ng-container matColumnDef="filename">
    <th *matHeaderCellDef mat-header-cell>Filename</th>
    <td *matCellDef="let row" mat-cell>
      <a [href]="row.path" target="_blank">{{row.filename}}</a>
      <a (click)="copyImagePath(row.path)" [routerLink]="" title="copy to clipboard">
        <mat-icon class="app-small">content_copy</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <!-- small app icon size only works if we display mat header :-( -->
    <th *matHeaderCellDef mat-header-cell class="app-icon">Size</th>
    <td *matCellDef="let row" mat-cell>{{row.tags['Size'] | bytesize}}</td>
  </ng-container>
  <tr *matHeaderRowDef="fileColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: fileColumns;" mat-row></tr>
</table>

<!-- upload panel -->

<ng-container *ngIf="enableUpload">
  <!-- https://academind.com/tutorials/angular-image-upload-made-easy/ -->

  <input type="file" style="display: none" (change)="onFileChangUpload($event)" #fileInput>

  <div class="app-button-row">

    <!-- always specify type="button" explicitly to avoid submit on click !  -->
    <button (click)="fileInput.click()" color="primary" mat-raised-button type="button">
      <mat-icon>cloud_queue</mat-icon>
      Upload
    </button>&nbsp;

    <button (click)="openFileInputDialog()" color="primary" mat-raised-button type="button">
      <mat-icon>public</mat-icon>
      Add URL
    </button>&nbsp;

    <button (click)="loadFiles()" color="primary" mat-raised-button type="button">
      <mat-icon>refresh</mat-icon>
    </button>
    &nbsp;

    <span style="font-size: 75%; color: gray"> {{progressInfo}}</span>
  </div>
</ng-container>
<!--
  <button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">View File</button>
-->
