<!-- file overview -->
<table *ngIf="files" [dataSource]="files" class="app-overview-table" mat-table>
  <ng-container matColumnDef="filename">
    <th *matHeaderCellDef mat-header-cell>Filename</th>
    <td *matCellDef="let row" mat-cell>
      <a [href]="row.path" target="_blank">{{row.filename}}</a>
      <a (click)="copyImagePath(row.path)" [routerLink]="" title="copy to clipboard">
        <mat-icon class="app-small">content_copy</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th *matHeaderCellDef mat-header-cell class="app-icon">Size</th>
    <td *matCellDef="let row" mat-cell>{{row.tags['Size'] | bytesize}}</td>
  </ng-container>
  <!--
  <tr mat-header-row *matHeaderRowDef="fileColumns"></tr>
  -->
  <tr *matRowDef="let row; columns: fileColumns;" mat-row></tr>
</table>

<!-- upload panel -->

<ng-container *ngIf="enableUpload">
  <input (change)="selectFile($event)" id="customFile" type="file">

  <div class="app-button-row">

    <button (click)="upload()" [disabled]="!selectedFiles" color="warn" mat-raised-button type="button">
      <mat-icon>cloud_queue</mat-icon>
      Push
    </button>
    &nbsp;

    <!-- specify type="button"  explicitly to avoid submit  -->
    <button (click)="loadFiles()" color="primary" mat-raised-button type="button">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    &nbsp;
    <button (click)="openFileInputDialog()" color="primary" mat-raised-button type="button">
      <mat-icon>public</mat-icon>
      URL
    </button>
    <span style="font-size: 75%; color: gray"> {{progressInfo}}</span>
  </div>
</ng-container>
<!--
  <button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">View File</button>
-->
