<!-- {{data.entityType}}  -->
<h3 mat-dialog-title>
  <mat-icon>backup</mat-icon>
  File Upload
</h3>
<div mat-dialog-content>
  <mat-form-field  class="app-full-width">
    <mat-label>Favorite URL</mat-label>
    <input [(ngModel)]="data.url" matInput>
  </mat-form-field>

  <mat-form-field  class="app-full-width">
    <mat-label>Name (optional)</mat-label>
    <input [(ngModel)]="data.filename" matInput>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data" cdkFocusInitial  color="primary" mat-raised-button>Retrieve</button>
  <button (click)="onNoClick()" mat-raised-button>No Thanks</button>
</div>
