<div #youTubePlayer class="app-flex">

  <div *ngIf="item">
    <mat-icon inline="false" matPrefix>video</mat-icon>
      <span class="app-subtitle">{{item.name}}</span>
      <a routerLink="/videos" style="margin-left: 5px">
        <mat-icon inline="true" title="Video Overview">video_library</mat-icon>Library
      </a>
  </div>
  <!--
  https://stackoverflow.com/questions/59450039/get-id-selected-value-from-autocomplete-in-angular-material
  https://github.com/angular/components/issues/4863
  https://stackblitz.com/edit/mat-autcomplete-displayfn?file=app%2Fautocomplete-display-example.ts
  -->
  <!--
  <mat-card class="app-card">
  <mat-form-field appearance="fill" class="video-select">
      <mat-label>
        <mat-icon svgIcon="video"></mat-icon>
        Pick a Video
      </mat-label>
      <input [formControl]="optionInputCtrl" [matAutocomplete]="auto"
             aria-label="Pick a TiMaFe Video"
             matInput>
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="selectedOption = $event.option.value"
                        [displayWith]="getVideoName.bind(this)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <mat-icon inline="false" matPrefix>video</mat-icon>
          <span>{{option.name}}</span>
          <mat-icon *ngIf="option.coordinates?.length > 0" inline="true">gps_fixed</mat-icon>
        </mat-option>
      </mat-autocomplete>
      <button (click)="clearInput()" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button [matMenuTriggerFor]="menu" aria-label="Video Options" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="refreshOptions()" mat-menu-item>
        <mat-icon>autorenew</mat-icon>
        <span>Refresh Playlist</span>
      </button>
      <button (click)="openAddDialog()" [disabled]="! authService.canEdit" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Add Video</span>
      </button>&nbsp;

      <button (click)="openEditDialog()" [disabled]="! (authService.canEdit && selectedOption)" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit Video</span>
      </button>
      <button (click)="openDeleteDialog()" [disabled]="! (authService.canDelete && selectedOption)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Dump Video</span>
      </button>
      <a *ngIf="selectedOption?.coordinates?.length > 1" [queryParams]="{from: 'videos', id: selectedOption.id}"
         [routerLink]="['/map/@' + selectedOption.coordinates[1] + ',' + selectedOption.coordinates[0]]"
         mat-menu-item>
        <mat-icon>gps_fixed</mat-icon>
        <span>MapMe!</span>
      </a>

      <button (click)="openAddTourDialog()" [disabled]="! authService.canEdit" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Add Tour</span>
      </button>&nbsp;
      <a [queryParams]="{from: 'komoot-tours'}"
         [routerLink]="['/map/']"
         mat-menu-item>
        <mat-icon>hiking</mat-icon>
        <span>View Tours</span>
      </a>
    </mat-menu>

  </mat-card>
  <br/>
  -->

  <youtube-player [height]="playerHeight" [videoId]="item?.externalId" [width]="playerWidth">
  </youtube-player>

</div>
