/* Structure */

// From https://material.angular.io/components/card/examples

// Hack https://github.com/google/material-design-icons/issues/206#issuecomment-268776966
.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/**
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

 */
