<div class="app-flex"> <!-- app causes issues with inner div -->

  <mat-card class="app-card" style="max-width: 90%">
    <!-- hack? w/o inner div becomes 925px width in mobile with app-flex -->

    <!-- new rating experiment https://github.com/ERS-HCL/star-rating-angular-material -->
    <!--             (ratingUpdated)="onRatingChanged($event)" -->
    Test Rating:
    <app-rating [initialRating]="7"  [starCount]="10" [color]="'accent'"></app-rating> <br />


    <mat-icon svgIcon="feed"></mat-icon>&nbsp;
    <mat-form-field>
      <mat-label>Pick a Feed</mat-label>
      <mat-select (selectionChange)="displayFeed($event)">
        <mat-option *ngFor="let feed of feeds" [value]="feed.id">
          {{feed.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="feed">
      <div style="font-size: 125%">{{feed.title}}
        <span style="font-size: 80%">- {{feed.description}}</span>
      </div>

      <mat-list-item *ngFor="let item of feed.items; index as index; last as last">
        <h4 mat-line>
          <mat-icon inline="true">grade</mat-icon>&nbsp;
          <a [href]="item.url" class="external" target="_feed" title="{{item.id}}">{{item.title}}</a>
          <a *ngIf="item.coordinates?.length > 0"
             [queryParams]="{from:'feeds'}"
             [routerLink]="['/map/@' + item.coordinates[1] + ',' + item.coordinates[0]]" matSuffix>
            <mat-icon inline="true">gps_fixed</mat-icon>
          </a>
        </h4>
        <div *ngIf="item.thumbnail" mat-line>
          <img [src]="item.thumbnail" title="thumbnail" alt="thumb">
        </div>
        <div [innerHTML]="item.description" mat-line></div>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </mat-list-item>
    </ng-container>

  </mat-card>

</div>
