# Ignore Gradle project-specific cache directory and wrappers
.gradle
gradlew
gradlew.bat
/gradle

# Ignore Gradle build output directory
build
.idea
*.iml

# Test properties may contain sensitive info as well
src/test/resources/application.properties
