# Ignore Gradle project-specific cache directory and wrappers
.gradle
# gradlew needed for Github CI
# gradlew
gradlew.bat
#/gradle

# Ignore Gradle build output directory
build
.idea
*.iml

# config/application.properties for local secrets, Test properties may contain sensitive info as well
**/config/application.properties
**/src/test/resources/application-test.properties

out/
