[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/opt/letsgo2/app.jar SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
