name: angular

on:
  # run on all pull requests (but note that certain steps are skipped if  if: github.ref == 'refs/heads/main' )
  pull_request:
    paths: [ 'angular/**', '.github/workflows/angular.yml' ]

  push:
    # If at least one path matches a pattern in the paths filter, the workflow runs
    paths: [ 'angular/**', '.github/workflows/angular.yml' ]
    # run the full set of steps on push into main branch
    branches: [ main ]

env:
  REGISTRY: ghcr.io  # default is docker.io
  IMAGE_NAME: ${{ github.repository }}-ui

jobs:
  build:
    if: " ! contains(github.event.head_commit.message, 'skip ci') "
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Environment
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        run: |
          echo "LATEST_REPO_TAG=$(git ls-remote --tags --sort='v:refname' | tail -n1 | sed 's/.*\///; s/\^{}//')" >> $GITHUB_ENV

      # This action allows caching dependencies and build outputs to improve workflow execution time.
      # https://github.com/actions/cache, for yarn https://github.com/actions/cache/blob/main/examples.md#node---yarn
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: yarn npm install and run angular build
        working-directory: ./angular
        run: |
          npm install -g yarn
          # workaround _lruCache is not a constructor issue https://stackoverflow.com/a/79581379/4292075
          rm -rf node_modules/
          yarn install
          # debug node_modules 
          ls -l node_modules/@babel/
          yarn run test:coverage
          yarn run build:prod

      - name: Lint Dockerfile with hadolint
        uses: brpaz/hadolint-action@v1.5.0
        with:
          dockerfile: ./angular/Dockerfile

      # Setup Docker buildx to support multi-platform images
      # Otherwise you get ERROR: failed to build: Multi-platform build is not supported for the docker driver.
      # when passing multiple platform values to docker/build-push-action@v6
      # @see https://github.com/docker/setup-buildx-action, @see https://docs.docker.com/go/build-multi-platform/
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main


      # required for tags and labels as input for  docker-build-push, @see https://github.com/docker/metadata-action
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # Default entries if tags input is empty:
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr            
            # Set latest tag for default branch https://github.com/docker/metadata-action?tab=readme-ov-file#tags-input
            type=raw,value=latest,enable={{is_default_branch}}

      # ... or you get Error: buildx failed with: ERROR: unauthorized: unauthenticated: User cannot be authenticated with the token provided.
      - name: Login to GitHub container registry (ghcr.io)
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # https://github.com/docker/build-push-action?tab=readme-ov-file#usage
      - name: Build docker image and push to ghcr.io
        uses: docker/build-push-action@v6
        id: docker-build # so we can reference this step as ${{ steps.build.outputs.digest }} in export step
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        with:
          context: ./angular
          file: ./angular/Dockerfile
          platforms: linux/arm64,linux/amd64
          # for none-multistage use true and merge manifest in 2nd job, otherwise false
          push: true
          # for multistage O NOT specify 'tags' here (error "get can't push tagged ref by digest")
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.LATEST_REPO_TAG }}
          labels: ${{ steps.meta.outputs.labels }}
          # why provenance: false? See "GitHub Action produces unknown architecture and OS": https://github.com/docker/build-push-action/issues/820
          provenance: false
          build-args: |
            LATEST_REPO_TAG=${{ env.LATEST_REPO_TAG }}
            RELEASE_NAME: ${{ secrets.RELEASE_NAME }}      
            RELEASE_VERSION: ${{ secrets.RELEASE_VERSION }}


      - name: Send Kafka Publish Event with Docker
        id: send-kafka-pub-event-playground  # becomes $GITHUB_ACTION
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        run: |
          docker run --quiet --rm -e KAFKA_PRODUCER_TOPIC_URL="${{secrets.KAFKA_PRODUCER_TOPIC_URL}}" \
           -e KAFKA_PRODUCER_API_SECRET="${{secrets.KAFKA_PRODUCER_API_SECRET}}" ghcr.io/tillkuhn/rubin:latest \
           -ce -key "$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" -header "producer=rubin/cli latest" \
           -source "urn:ci:$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" \
           -type "net.timafe.event.ci.published.v1" -subject "docker.io/${GITHUB_REPOSITORY}-ui"  \
           -record "{\"action\":\"$GITHUB_ACTION\",\"actor\":\"$GITHUB_ACTOR\",\"commit\":\"$GITHUB_SHA\",\"run_url\":\"$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\",\"version\":\"${GITHUB_REF#refs/*/}\"}" 


      # Find Image Vulnerabilities Using GitHub and Aqua Security Trivy Action
      # - https://github.com/aquasecurity/trivy-action
      # - https://blog.aquasec.com/github-vulnerability-scanner-trivy
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        if: github.ref == 'refs/heads/main' # this is how to skip only specific steps if not main
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          format: 'sarif'
          output: 'trivy-results.sarif'

      # Using Trivy with GitHub Code Scanning
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        with:
          sarif_file: 'trivy-results.sarif'

      # https://github.com/SonarSource/sonarcloud-github-action
      # https://sonarcloud.io/project/configuration?analysisMode=GitHubActions&id=tillkuhn_angkor
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        with:
          projectBaseDir: ./angular
          #  -Dsonar.host.url=https://sonarcloud.io # not required, raises overwrite warning
          # key needs to exist - no so nice for our monorepo setup (so angkor-ui does not work)
          args: >
            -Dsonar.organization=tillkuhn
            -Dsonar.projectKey=angkor-ui
            -Dsonar.projectVersion=${{env.RELEASE_VERSION}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Sonarcloud: Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # should've been provisioned by Phase

