name: antora-ci

on:
  push:
    branches: [ master ]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2

      # https://github.com/actions/cache
      # This action allows caching dependencies and build outputs to improve workflow execution time.
      # for yarn https://github.com/actions/cache/blob/main/examples.md#node---yarn
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            ~/.config/yarn/global/node_modules
            **/node_modules
          key: ${{ runner.os }}-antora-modules
          #restore-keys: |
          #  ${{ runner.os }}-node-

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Run antora build with yarn
        run: |
          npm install -g yarn
          yarn global add --ignore-optional --silent @antora/cli@latest @antora/site-generator-default@latest  antora-site-generator-lunr asciidoctor asciidoctor-kroki
          $(yarn global dir)/node_modules/.bin/antora --stacktrace --fetch --generator antora-site-generator-lunr antora-playbook.yml
          aws s3 sync --delete ./docs/build ${{ secrets.AWS_DEPLOY_TARGET }}/docs
        env:
          CI: true
          DOCSEARCH_ENABLED: true
          DOCSEARCH_ENGINE: lunr

      - name: Publish Action Event
        run: |
          aws sns publish --topic-arn $TOPIC_ARN --message "{\"action\":\"deploy-docs\",\"workflow\":\"$GITHUB_WORKFLOW\"}" \
              --message-attributes "GITHUB_SHA={DataType=String,StringValue=\"$GITHUB_SHA\"}, GITHUB_RUN_ID={DataType=String,StringValue=\"$GITHUB_RUN_ID\"}"
        env:
          TOPIC_ARN: ${{ secrets.TOPIC_ARN }}
