name: docs

on:
  push:
    # If at least one path matches a pattern in the paths filter, the workflow runs.
    # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-including-paths
    # https://stackoverflow.com/questions/64621707/is-there-a-way-to-combine-push-criteria-in-github-actions-using-the-logical-and:
    paths: [ 'docs/**', 'antora-playbook.yml', '.github/workflows/docs.yml' ]
    branches: [ main, 'antora3' ]

env:
  REGISTRY: ghcr.io  # default is docker.io
  IMAGE_NAME: ${{ github.repository }}-docs

jobs:
  build:
    # https://github.community/t/how-to-write-multi-line-condition-in-if/128477/6
    if: " ! contains(github.event.head_commit.message, 'skip ci') "
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v5
      # for yarn https://github.com/actions/cache/blob/main/examples.md#node---yarn
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ~/.config/yarn/global/node_modules
            **/node_modules
          key: ${{ runner.os }}-antora-modules@v2
          #restore-keys: |
          #  ${{ runner.os }}-node-

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run antora3 build with npm
        id: antora-build
        # https://www.npmjs.com/package/@antora/cli
        run: |
          npm i -g @antora/cli@3.1 @antora/site-generator@3.1 @antora/lunr-extension asciidoctor asciidoctor-kroki
          antora --version
          cp ./tools/sonar/README.adoc ./docs/modules/ROOT/pages/cicd/sonar.adoc
          antora generate antora-playbook.yml
        env:
          CI: true

#      - name: Publish Docs to S3
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
#        run: |
#          aws s3 sync --delete ./docs/build ${{ secrets.AWS_DEPLOY_TARGET }}/docs


        # ORAS ("OCI Registry As Storage", https://oras.land/docs/) provides CLI and client libraries to distribute artifacts across OCI-compliant registries.
      - name: Setup ORAS
        # This allows running `oras` CLI directly
        uses: oras-project/setup-oras@v1
        with:
          version: 1.0.0

      - name: Run ORAS
        working-directory: ./docs/build/
        run: |
          oras version
          tar -czf docs-build.tar.gz ./*

      # push? we need to do it ourselves or use
      # https://github.com/marketplace/actions/oras-push-action
      # https://github.com/1k-off/action-oras-push

      # Push artifacts using ORAS
      - name: Push Artifacts
        uses: 1k-off/action-oras-push@v1
        with:
          registry: ${{env.REGISTRY}}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{env.IMAGE_NAME}}
          tag: v1.0.0
          files: |
            ./docs/build/docs-build.tar.gz
          #manifest-annotations: "key1=value1,key2=value2"


      - name: Send Kafka Publish Event with Docker
        id: send-kafka-pub-event-docs  # becomes $GITHUB_ACTION
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        run: |
          docker run --quiet --rm -e KAFKA_PRODUCER_TOPIC_URL="${{secrets.KAFKA_PRODUCER_TOPIC_URL}}" \
           -e KAFKA_PRODUCER_API_SECRET="${{secrets.KAFKA_PRODUCER_API_SECRET}}" ghcr.io/tillkuhn/rubin:latest \
           -ce -key "$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" -header "producer=rubin/cli latest" \
           -source "${GITHUB_SERVER_URL#https://}/$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" \
           -type "net.timafe.event.ci.published.v1" -subject "${GITHUB_REPOSITORY}-$GITHUB_WORKFLOW"  \
           -record "{\"action\":\"$GITHUB_ACTION\",\"actor\":\"$GITHUB_ACTOR\",\"commit\":\"$GITHUB_SHA\",\"run_url\":\"$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\",\"version\":\"${GITHUB_REF#refs/*/}\"}" 



