# Action playground workflow which is triggered whenever this file is changes
name: playground  # becomes $GITHUB_WORKFLOW

on:
  push:
    paths: [ '.github/workflows/playground.yml' ]

jobs:
  # key becomes $GITHUB_JOB
  build:
    name: Build Playground
    strategy:
      matrix:
        # platform: [ubuntu-latest, macos-latest, windows-latest]
        platform: [ubuntu-latest]
    runs-on: ${{matrix.platform}}
    steps:

      - name: Send Kafka Publish Event with Docker
        id: send-kafka-pub-event-$GITHUB_WORKFLOW  # becomes $GITHUB_ACTION
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
        # for default env vars see https://docs.github.com/en/actions/reference/workflows-and-actions/variables
        run: |
          docker run --quiet --rm -e KAFKA_PRODUCER_TOPIC_URL="${{secrets.KAFKA_PRODUCER_TOPIC_URL}}" \
           -e KAFKA_PRODUCER_API_SECRET="${{secrets.KAFKA_PRODUCER_API_SECRET}}" ghcr.io/tillkuhn/rubin:latest \
           -ce -key "$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" -header "producer=rubin/cli latest" \
           -source "${GITHUB_SERVER_URL#https://}/$GITHUB_REPOSITORY/$GITHUB_WORKFLOW/$GITHUB_JOB" \
           -type "net.timafe.event.ci.published.v1" -subject "${GITHUB_REPOSITORY}-$GITHUB_WORKFLOW"  \
           -record "{\"action\":\"$GITHUB_ACTION\",\"actor\":\"$GITHUB_ACTOR\",\"commit\":\"$GITHUB_SHA\",\"run_url\":\"$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\",\"version\":\"${GITHUB_REF#refs/*/}\"}" 



#########################################################
# Retired or disabled Experiments
#########################################################


#      - name: Install latest rubin Kafka Record Producer CLI as docker alternative
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
#        run: |
#          curl -LsSo ${{ runner.temp }}/rubin.zip $(curl -LsS 'https://api.github.com/repos/tillkuhn/rubin/releases/latest' | jq -r '.assets[] | select(.name|endswith("linux_amd64.zip")).browser_download_url')
#          unzip ${{ runner.temp }}/rubin.zip -d ${{ runner.temp }} && chmod u+g ${{ runner.temp }}/rubin
#
#      - name: Publish additional Kafka Event with CLI
#        id: test-kafka-messaging
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
#        run: |
#          ${{ runner.temp }}/rubin -help
#        env:
#          KAFKA_PRODUCER_TOPIC_URL: ${{ secrets.KAFKA_PRODUCER_TOPIC_URL }}
#          KAFKA_PRODUCER_API_SECRET: ${{ secrets.KAFKA_PRODUCER_API_SECRET }}

# Pull Staging vars shared with GitHub from Phase API
# no longer needed with GitHub syncing in phase.dev
#      - name: Pull Staging vars shared with GitHub from Phase API
#        run: |
#          echo "Running tests on platform ${{ matrix.platform }}"
#          if [ -z "${{vars.PHASE_APP_ID}}" ]; then
#            echo "ERROR: PHASE_APP_ID is not set in GitHub Environment vars!"
#            exit 1
#          fi
#          # single secret fetch example
#          curl -fsSGH "Authorization: Bearer ServiceAccount ${{secrets.PHASE_API_TOKEN}}" "https://api.phase.dev/v1/secrets/" \
#               -d app_id=${{vars.PHASE_APP_ID}} -d env=staging -d path=/test -d key=HELLO | jq -r .[0].value
#
#          # convert all secrets from a specific path to .env values (key=value)
#          curl -fsSGH "Authorization: Bearer ServiceAccount ${{secrets.PHASE_API_TOKEN}}" "https://api.phase.dev/v1/secrets/" \
#            -d app_id=${{vars.PHASE_APP_ID}} -d env=staging -d path=/managed  | \
#            jq -r '.[] | "\(.key)=\(.value)"'  >> $GITHUB_ENV


##########################################
#      # test hcp secrets integration
#      - shell: bash
#        env:
#          # shared with HCP Vault
#          CONFLUENT_CLUSTER_ID: ${{ secrets.CONFLUENT_CLUSTER_ID }}
#          CONFLUENT_CLUSTER_REST_ENDPOINT: ${{ secrets.CONFLUENT_CLUSTER_REST_ENDPOINT }}
#          CONFLUENT_PRODUCER_BASIC_AUTH: ${{ secrets.CONFLUENT_PRODUCER_BASIC_AUTH }}
#        # default variables: https://docs.github.com/en/actions/learn-github-actions/variables#default-environment-variables
#        # optimize json quoting https://superuser.com/questions/1650325/setting-variable-inside-curl-json-request-with-single-quotes-in-bash
#        run: |
#          curl -isSH "Content-Type:application/json" -H "Authorization:Basic $CONFLUENT_PRODUCER_BASIC_AUTH" \
#          "$CONFLUENT_CLUSTER_REST_ENDPOINT/kafka/v3/clusters/$CONFLUENT_CLUSTER_ID/topics/$CONFLUENT_TOPIC/records" \
#          -d '{"key":{"type":"BINARY","data":"'$key'"},"value":{"type":"JSON","data":{"sha":"'$GITHUB_SHA'","workflow":"'$GITHUB_WORKFLOW'"}}}'

##########################################
#      - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: eu-central-1

##########################################
#      - name: Publish Action Event via AWS SNS
#        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) # run only on main
#        run: |
#          aws sns publish --topic-arn $TOPIC_ARN --message "{\"action\":\"deploy-ui\",\"workflow\":\"$GITHUB_WORKFLOW\"}" \
#              --message-attributes "GITHUB_SHA={DataType=String,StringValue=\"$GITHUB_SHA\"}, GITHUB_RUN_ID={DataType=String,StringValue=\"$GITHUB_RUN_ID\"}"
#        env:
#          TOPIC_ARN: ${{ secrets.TOPIC_ARN }}
