# goes to /etc/systemd/system/angkor-sqs.service
# see https://www.freedesktop.org/software/systemd/man/systemd.service.html
# after creation run
# sudo systemctl enable angkor-sqs
# Created symlink from /etc/systemd/system/multi-user.target.wants/angkor-sqs.service to /etc/systemd/system/angkor-sqs.service.
#sudo systemctl start angkor-sqs
#systemctl -l status angkor-sqs
# journalctl -u angkor-sqs -f
# run "systemctl daemon-reload" if you make changes
# remove
#systemctl stop angkor-sqs
#systemctl disable angkor-sqs
#rm /etc/systemd/system/angkor-sqs.service
#rm /etc/systemd/system/angkor-sqs.service
#rm /usr/lib/systemd/system/angkor-sqs.service
#rm /usr/lib/systemd/system/angkor-sqs.service
#systemctl daemon-reload
#systemctl reset-failed

[Unit]
Description=angkor-sqs polling service
#Before=nginx.target
After=network.target remote-fs.target nss-lookup.target docker.service

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user
## multiple command lines are allowed and the commands are executed one after the other, serially. - tolerates failures
ExecStartPre=/usr/bin/mkdir -p /home/ec2-user/tools
ExecStartPre=/usr/bin/aws s3 sync s3://timafe-angkor-data/deploy/tools/sqs-poller /home/ec2-user/tools
ExecStartPre=-/usr/bin/chown -R ec2-user:ec2-user /home/ec2-user/tools
ExecStartPre=-/usr/bin/chmod ugo+x /home/ec2-user/tools/sqs-poller
#ExecStart=/usr/bin/java $${JAVA_OPTS} -Duser.timezone=UTC -Djava.security.egd=file:/dev/./urandom -jar ${appdir}/deploy/app.jar
ExecStart=/home/ec2-user/tools/sqs-poller
SuccessExitStatus=143
SyslogIdentifier=angkor-sqs
## we only have systemd 219, this was added in 236 https://unix.stackexchange.com/questions/321709/redirect-systemd-service-logs-to-file
#StandardOutput=file:${appdir}/logs/stdout.log
#StandardError=file:${appdir}/logs/stderr.log
EnvironmentFile=/home/ec2-user/.env

[Install]
WantedBy=multi-user.target
